<template>
    <div class="wrapper">
        <h1>De Bronstijd</h1>        
        <FetchJars age="bronzeAge"></FetchJars>
         
       <div id="vroeg_bronstijd" class="vroeg">

            <h2>vroeg</h2>

            <div class="wikkeldraad-cultuur">

                <h3>wikkeldraad-cultuur  (1875 - 1575 v.Chr.)</h3>

                <div class="wkkldraad-intro">
                    <p>
                        De verspreiding van het Wikkeldraadaardewerk . 
                        Tijdens de Vroege Bronstijd A (2000 – 1800 v.Chr.) komt de cultuur voor in Nederland, 
                        Noordwest- en Midden-Duitsland. Langzaamaan tijdens de Vroege Bronstijd B (1800 – 16000 v.Chr) 
                        begint het Wikkeldraadaardewerk te verdwijnen in Zuid- en Midden-Nederland. Hierbij komt een begin 
                        van het Hilversumaardewerk.
                    </p>
                        <img src="../../public/assets/bronzeAge/wikkeldraad.png" alt="img">
                </div>

                <br>

                <div class="techniek-wkkldraad-vroeg">
                    <h4>Kenmerken vroeg wikkeldraad-cultuur aardewerk</h4>
                    <p>
                        Meestal heeft het vroege WKD-aardewerk een zwak S-vormig profiel, met soms een buikknik. Het aardewerk heeft meestal een standvoet. Bekend bij dit aardewerk zijn de gaatjes onder de rand. Dit komt voor bij zowel de kleine als het grote aardewerk van deze potten. Bij een aantal potten zijn ook oren gevonden. De versiering van het vroege WKD-aardewerk heeft wat verschillen. Sommige potten zijn over de gehele buitenwand versierd, terwijl bij andere potten alleen de bovenhelft of de bovenste twee derde deel versierd was. De versiering op het vroege WKD-aardewerk bestaat voornamelijk uit horizontale componenten, ook wanneer de versiering zonering vertoont. Bij het vroege WKD-aardewerk komt binnenrandversiering bijna niet voor. De meest belangrijke motieven bij dit aardewerk zijn:  horizontale lijnen, enkel- en meervoudige horizontale zigzagmotieven, horizontale rijen korte, verticale indrukjes. Bij dit aardewerk komt ook: ovale indrukjes, nagelindrukken en vingertopindrukken voor. De gebruikte magering voor dit aardewerk is steengruismagering. Dit varieerde tussen fijn en grof steengruis.
                    </p>
                    <img src="../../public/assets/bronzeAge/vroeg1.png" alt="img">
                </div>

                <br>

                <div class="techniek-wikkeldraad-laat">
                    <h4>Kenmerken late wikkeldraad-cultuur aardewerk (grotte potten)</h4>
                    <p>
                        Meestal heeft het late WKD-aardewerk een eivormig lichaam met hoge hal insnoering. Dit aardewerk staat bekend om de smalle voet met een uitstaande hals. Net zoals het vroege-WKD aardewerk komen gaatjes onder de rand voor. De versiering wordt altijd aangebracht vanaf de hals tot aan de voet. Tijdens de late WKD-aardewerkcultuur komt binnenrandversiering veel voor. De versiering van het late WKD-aardewerk verschilt niet per pot. De versiering bestaat uit horizontale lijnen met daarbij gebruikt stempelindrukken. De binnenrandversiering die bij dit aardewerk voorkomt is gemaakt met touwindrukken of het indrukken van een WKD-stempel in verschillende vormen. Zigzaglijnen, verticale lijnen en horizontale lijnen. Soms komen ook verticale groeflijntjes voor bij dit aardewerk. In sommige gevallen komt het ook voor dat de versiering aan de buitenwand is vervangen door korte groeflijnen.
                    </p>

                    <br>

                    <p>
                        Tijdens deze cultuur komt een interessante ontwikkeling voor. Het aardewerk van de vroege Wikkeldraadcultuur, zijn bekertjes. Deze verdwijnen al snel. De bekers werden gebruikt voor begravingen. Uit het grote aardewerk ontstaat de typische WKD-potten. De eerste veranderingen zijn al zichtbaar toen de WKD-bekers nog aanwezig waren. Bij twee verschillende vindplaatsen is deze verandering al waargenomen. Bij de site in Emmerhout is een WKD-bekertje gevonden met een slank model en een hoge hals knik. Bij de site in Wychense Ven heeft het WKD-bekertje al veel kenmerken van de latere potten. De versiering bestaande uit losse horizontale WKD-stempelindrukken, soms gerangschikt in verticale rijen. Deze versieringen komen normaal niet op de WKD-bekers voor, en is uitsluitend op de grote WKD-potten aangetroffen. Ze denken dat het kleine aardewerk al buitengebruik was voor deze versiering bestond. De WKD-bekers werden vermoedelijk vervangen door onversierd Kummerkeramik-achtig aardewerk. 
                    </p>
                    <img src="../../public/assets/bronzeAge/vroeg2.png" alt="img">
                </div>

                <div class="grafritueel">
                    <h4>grafritueel</h4>
                    <p>
                        In Nederland zijn weinig graven met WKD-aardewerk gevonden. In verschillende tumulus komt tijdens de Vroege Bronstijd A wikkeldraad aardewerk in voor. Tijdens de Vroege Bronstijd B komt dit haast niet meer voor. De potten worden vanaf dan gebruikt in nederzettingscontext. Voor het dagelijkse leven. 
                    </p>
                    <a href="https://ugp.rug.nl/Palaeohistoria/article/view/25050/22509">
                    bron
                    </a>
                </div>
            </div>

        <br>

        <!-- end vroeg div -->
    </div>

    <div id="midden_bronstijd" class="midden">
    <h2>midden</h2>

      <div class="hilversum-drak">

            <h3>Hilversum-Drakenstein- en Laren (1575 – 1200 v.Chr. Midden Bronstijd)</h3>

            <div class="hilversum-drak-intro">
                <p>Het Hilversum-aardewerk komt voornamelijk voor in Zuid-Nederland.</p>
                <img src="../../public/assets/bronzeAge/hilversumCultuur.png" alt="img">
                <p>
                    Het Hilversumaardewerk is sinds de jaren 50 herkend als een nieuw type. Opvallend is dat de vroegste potten niet meer tot het bekeraardewerk behoort, maar er nieuwe, vaak voorraadpotachtige vormen ontstaan (grote emmer-, eivormige en dubbelkonische potten) met dikke wanden en grove steengruismagering. Op de oudste potten komt nog wikkeldraadversiering voor, vaak gecombineerd met touwversiering en nagelindrukken. Soms is de versiering op de hals aangebracht, maar ook op de rand en aan de binnenzijde van de rand. Zelfs een aantal potten zijn gevonden met handvatten.
                </p>
            </div>

            <br>

            <div class="potten-div1">
                <img src="../../public/assets/bronzeAge/vroeg3.png" alt="img">
                <img src="../../public/assets/bronzeAge/vroeg4.png" alt="img">
            </div>

            <p>
                In de volgende fase van de Midden-Bronstijd (B) komt het Drakensteinaardewerk in de mode. De potten van dit aardewerk hebben een afgeknotte peervorm of een emmervorm, een naar binnen afgeschuinde rand en vaak een stafband op de schouder van de pot. Later verdwijnen de stafbanden en beperkt de versiering zich soms nog slechts door een rij van vingertopindrukken langs de afgeronde rand (Larenaardewerk). Het gaat hierbij om ton- of emmervormige potten. 
            </p>

            <div class="potten-div1">
                <img src="../../public/assets/bronzeAge/vroeg5.png" alt="img">
                <img src="../../public/assets/bronzeAge/vroeg6.png" alt="img">
            </div>

            <p>
                Het laatste type is het Larenaardewerk. Dit zijn ton- of emmervormige potten. Dit aardewerk is vaak onversierd met hooguit een reeks vingertopindrukken onder de rand.
            </p>

            <img src="../../public/assets/bronzeAge/LRNType.png" alt="img">

            <p>
                Het voorkomen van touwindrukken, nagelindrukken, wikkeldraadstempels en versiering aan de binnenrand zijn allemaal vroege versieringen. Deze zijn deels meegenomen vanuit de Wikkeldraadcultuur. Deze versieringen zijn gebruikt tussen 1870 v.Chr. – 1530 v.Chr. Deze potten kennen een lange gebruiksduur. Ze zijn in zowel in vroege én late nederzettingscomplexen vastgesteld. De twee soorten aardewerk na het Hilversum-aardewerk is alleen te herkennen door het ontbreken van de vroege versieringen. Drakenstein-aardewerk en Larendonk-aardewerk hebben een lange en overlappende gebruiksperiode. Vanaf 1050 v.Chr. veranderd het aardewerk enorm. Voornamelijk het aardewerk uit de graven. De hoge potten waren niet exclusief voor graven. De hoge potten komen ook voor in nederzettingscontexten en andere contexten. Dit betekent dat deze hoge potten dominant waren voor het gebruik in deze tijd.
            </p>

            <p>
                Binnen het Hilversum,- Drakenstein-, en Laren-vaatwerk zijn zes, veertien en vijf typen onderverdeeld. 
            </p>

            <br>

            <a href="https://www.sidestone.com/openaccess/9789088900174.pdf">bron</a>
        </div>

        <br>

        <div class="kummer">
            <h3>Kümmerkeramik (1575 – 1200 v.Chr Midden-Bronstijd)</h3>

            <div class="kummer-intro">
                <p>
                    Het Kümmerkeramik komt voor in de Veluwe en richting Noord-Duitsland 
                </p>

                <img src="../../public/assets/bronzeAge/hilversumCultuur.png" alt="img">

                <p>
                    Het Kümmerkeramik, is zeer eenvoudig van vorm. Het heeft een ton- en emmervorm. Voor dit aardewerk is gebruik gemaakt van grove maaksel met daarin als magering met gebroken kwarts. Het aardewerk heeft dikke randen en een dikke bodem. Het is ongeveer 2 centimeter dik. Dit aardewerk komt vaak onversierd voor, maar heeft soms nagel- of vingerindrukken. In Nederland komt dit aardewerk voornamelijk voor in de Veluwe. Op een proefsleuven onderzoek bij te Valthe zijn veel scherven gevonden van Kümmerkeramik. De scherven hebben een grove kiezelmagering, zijn geeloranje van kleur (donker op de breuk) en zeer dikwandig. Het aardewerk is zacht gebakken en valt snel uit elkaar. Het betreft scherven van grote (voorraad)potten. Kümmerkeramik heeft een datering van 1350–750 v. Chr. (Midden- en Late Bronstijd. Naast de scherven van een complete pot van Kümmerkeramik zijn er ook scherven van iets dunwandiger en harder gebakken aardewerk gevonden. Het aardewerk heeft een grijsbruine kleur en steengruismagering en dateert uit de Late Bronstijd.
                </p>

                <a href="https://easy.dans.knaw.nl/ui/datasets/id/easy-dataset:38302/tab/2">bron</a>

                <p>
                    Dit aardewerk heeft kenmerken van de Drakenstein-urnen. Het cremeren van de doden komt langzaamaan op gang tijdens deze cultuur. Voornamelijk worden grafheuvels gebouwd uit plaggen. De doden die hierop volgen worden in de flanken van de heuvel begraven of in rijen naast de grafheuvel begraven. Dit zullen waarschijnlijk familiegraven zijn geweest. De heuvels zijn omringd met paalkransen. Tussen 1575 v.Chr – 1200 v.Chr. komen ook vaak dodenhuisjes voor. Deze worden boven het graf opgericht. Naast deze dodenhuisjes komen vaak kuilen met brandsporen voor. 
                </p>

                <img src="../../public/assets/bronzeAge/vroeg7.png" alt="img">
                
                <br>

                <a
                 href=" https://scholarlypublications.universiteitleiden.nl/access/item%3A2715189/view">bron</a>
            </div>
        </div>

        
        <div class="hoogkarspel">

            <h3>Hoogkarspel-aardewerk (1200 – 800 v.Chr.)</h3>

            <div class="hoogkarspel-intro">
                <p>
                    Het Hoogkarspel-aardewerk is verdeeld in twee groepen. Er zitten veel verschillen tussen het Hoogkarspel-oud en Hoogkarspel-jong aardewerk. Tijdens een grootschalig onderzoek in 1958 in Hoogkarspel zijn veel verschillende kenmerken herkend. De verschillen zitten in de klei, vorm en versiering.
                </p>

                <p>
                    Het hoogkarspel-oud aardewerk is ton- of emmervorming. Het is dikwandig en grof aardewerk. De verschraling van het aardewerk is gedaan met grote brokken steen, hierdoor voelt het aardewerk ruw aan. De bijmenging is gemaakt van aardewerkgruis. Bij dit aardewerk is hetzelfde probleem aanwezig als al het Midden-Bronstijd aardewerk in Nederland. Het is onduidelijk wat de precieze typologie is. 
                </p>

                <p>
                    andere aardewerk in de Midden-Bronstijd. Het is vaak onversierd, maar soms komen vingertopindrukken onder de rand voor. Ook bij dit aardewerk komt soms een stafband voor. Deze komen zowel versierd als onversierd voor. Iets karakteristiek aan dit aardewerk is de vaak voorkomende ondiepe groef onder de rand. Deze versiering is nog niet eerder voorgekomen in de rest van Nederland. Roel Brandt denkt hierdoor dat dit aardewerk voorkomt uit de Hilversum-Drakenstein-Larendonk aardewerk en niet het Kümmerkeramik en de urnen van het type Gasteren.
                </p>

                <img src="../../public/assets/bronzeAge/vroeg12.png" alt="img">

                <br>

                <img src="../../public/assets/bronzeAge/vroeg13.png" alt="img">



    <!-- end midden div -->
    </div>



        </div>

    </div>

    <div id="laat_bronstijd" class="laat">
    <h2>laat</h2>

     <div class="gasteren">

            <h3>Gasteren-urnen (1200 – 800 v.Chr. Late Bronstijd)</h3>

            <div class="gasteren-intro">

                <p>
                    Deze urnen zijn gevonden in ongeveer twaalftal urnenvelden. De Gasteren-urnen zijn afkomstig van lange bedden met palen. Het is dunwandig aardewerk met een holle schouder en een bolle buik. Vaak met twee tot drie driehoekige doorboorde knobbeloren op de schouder/buikknik. De magering op deze urnen is grof steengruis. Het oppervlakte is glad of gepolijst. Het heeft geen versiering. Deze urnen komen voornamelijk voor in Noordoost-Holland. Deze urnen lijken op urnen afkomstig uit de Noordfriese eilanden en eveneens op enkele potten uit een urnenveld bij de kust van oost-Engeland. Dit doet men denken over een uitwisseling met Engeland. Ook worden miniatuur potjes van dezelfde vorm gevonden. Bepaalde potjes hebben een dikwandig en tonvormig uiterlijk. Deze lijken op het Kummerkeramik en aan de andere kant zijn ook een paar goed gevormde dunwandige potten die overeenkomen met de Middeneuropese Urnenveld. Eerste helft van de late bronstijd.
                </p>

                <p>
                    Het blijkt dat de in en naast de noordelijke paalbouwgraven gevonden urnen een afzonderlijke vaatwerkgroep vormen die in verwante begraafplaatsen niet eerder is aangetroffen. Dit zowel op grond van ouderdom als typografie. Van Giffen noemt die het proto-urnenveldaardewerk.
                </p>

                <p>
                    Op de begraafplaats van Gasteren komen twee verschillende manieren van begraven voor. Een manier van begraving is in de vorm van een boomkistschachtgraf onder een bedvormige plaggenheuvel met palen en een randgreppel. De tweede manier is verbranding als een bijzetting. Afwisselend in urn of zonder urn
                </p>

                <img src="../../public/assets/bronzeAge/vroeg8.png" alt="img">

                <br>

                <img src="../../public/assets/bronzeAge/vroeg9.png" alt="img">

                <br>

                <a href="http://historisch.ingasteren.nl/wp-content/uploads/2020/01/Samenvatting-artikel-van-Van-Giffen-met-afbeeldingen.pdf">bron</a>

                <br>

                <a href="https://www.angelfire.com/me/ik/aard.html ">bron </a>

                <br>
            </div>
        </div>

        <div class="dubbelconisch">

            <h3>Dubbelconische urnen (1200 – 800 v.Chr. Late Bronstijd)</h3>    

            <div class="dubbelconische-intro">

                <p>
                    In Noord-Nederland net zoals in Zuid-Nederland zijn de urnenvelden de voornaamste monumenten van de Late Bronstijd. Het blijkt dat het geen massale invasie van een urnenveld-volk in Noord-Nederland, maar eerder kleinere infiltraties van verschillende groepen met verschillende herkomsten. 
                    Vorm: vrij rechte buik en schouder, cilindrische hals, ook afgeknot peervormig, eventueel oren op de schouder
                    Baksel: oxiderend gebakken
                    Magering: steengruis of chamotte
                    Oppervlak: glad of gepolijst
                    Versiering: geen
                    Verspreiding: Noord- en Oost-Nederland
                    Opmerking: drieledige vormen (rand/hals-schouder-buik)
                </p>

            </div>

        </div>

        <div class="zweihenklige">
            <h3>Zweihenklige terrine (1200 – 800 v.Chr. Late Bronstijd)</h3>
            
            <div class="zweihenklige-intro">

                <p>
                    Deze urnen kwamen niet voor in urnenvelden en in graven met greppels, deze urnen kwamen voornamelijk voor als latere nabijzettingen in oudere grafheuvels en af en toe in grafkuilen die gevuld waren met stenen (een zeer zeldzame grafvorm). De bronsvondsten die werden aangetroffen werden met zweihenkige terrinen waren scheermessen en pincetten van het noordelijke type. De zweihenkige Terrine komt voor in het kustgebied van de Noordzee tot in Noord-Nederland. Dit lijkt op een immigratie vanuit het noordoosten. De vorm van de zweihenkige terrinen is drieledig met een conische hals en heeft een overgang schouder en af en toe een hals met twee oortjes. Het is oxiderend gebakken en is gemagerd met steengruis of chamotte, dit is gebakken klei. De oppervlakte is glad of gepolijst en de versiering op het aardewerk is soms een groeflijn op de overgang van hals naar schouder.
                </p>

                <br>

                <img src="../../public/assets/bronzeAge/vroeg10.png" alt="img">
            </div>
        </div>

        <div class="kegel-trechter">

            <h3>Kegel-, trechter- en cilinder-urnen (1200-800 v. Chr. Late Bronstijd)</h3>

            <div class="kegel-trechter-intro">
                <p>
                    Afgezien van de import van enkele bronzen voorwerpen uit Midden Europa zijn er geen aanwijzingen van een Urnenveld-cultuur voor 1000 v.Chr. Bij deze Urnenveld-cultuur waren kleine lage grafheuvels waarin urnbegravingen in werden verwerkt. Deze urnen komen voor in Midden- en Zuid-Nederland. De vorm van deze urnen zijn enigszins bolvormig met een ronde schouder met een kegelvormige, trechtervormige of cilindervormige hals. Het is oxiderend gebakken en gemagerd met steengruis of chamotte. Het oppervlak is glad of gepolijst en vaak goed afgewerkt. De versiering die voorkomt op deze urnen zijn ingedrukte driehoeken of ingesneden lijnen. Ook komen driehoeken en halve cirkels van de versiertechniek (Kerbschnitt) voor. Daarnaast komen ook rijen spatel- of nagelindrukken.
                </p>
            </div>
        </div>

        <div class="kerbschnitt">

            <h3>Kerbschnitt-urn (800 v.Chr. Late Bronstijd)</h3>

            <div class="kerbschnitt-intro">

                <p>
                    In de late bronstijd heeft het aardewerk meer variatie. Behalve grote potten zijn ook kleine schaaltjes, open schalen en drieledige potvormen met korte hals. Deze zijn versierd met vingerindrukken, groeven, nagelindrukken en stafbanden. In de late bronstijd komt ook een nieuwe versiering voor. Dit zijn ingesneden versieringen, dit wordt Kerbschnitt-aardewerk genoemd. Dit aardewerk is bekend om de grote variatie aan potvormen en de uitbundige versiering uitgesneden met een mes in de lederharde klei. Meestal is sprake van geometrische patronen en motieven, maar er zijn ook voorbeelden van golvende banden. Er zijn aanwijzingen dat de messneden zijn opgevuld met wit botpasta (incrustatie). Ook komt versiering met vingertopindrukken, groeven, nagelindrukken en stafbanden voor.  Behalve grote potten zijn er ook kleine schaaltjes, open schalen en drieledige potvormen met korte hals.
                </p>

                <br>

                <img src="../../public/assets/bronzeAge/vroeg11.png" alt="img">

            </div>
        </div>
                <h3>Hoogkarspel-aardewerk (1200 – 800 v.Chr.)</h3>
                <h3>Het Hoogkarspel-jong aardewerk</h3>

                <p>
                    Het Hoogkarspel-Jong aardewerk kent een vroege en een late fase. In de vroegste fase (1050-950 v. Chr.) is veelal onversierd en lijkt een voortzetting te zijn van het Hoogkarspel-Oud aardewerk. In de late fase (950-800 v. Chr.) is wel sprake van versiering in de vorm van vingertopversiering op de rand en ook op andere delen van de pot. Ook versiering met rietstengelindrukken en vogelbotindrukken komen voor en de versiering is soms op de hele potwand zichtbaar. Verder is sprake met een grote variatie aan potvormen, van voorraadpotten, kommen en schalen, maar ook lepels. De buitenwanden van de potten zijn vaak glad gemaakt of gepolijst. De klei is gemagerd met fijn steengruis.  
                </p>

                <img src="../../public/assets/bronzeAge/vroeg14.png" alt="img">

                <br>

                 <img src="../../public/assets/bronzeAge/vroeg15.png" alt="img">
            </div>
            <!-- end laat div -->


    </div>
</template>

<script>
import FetchJars from '../components/FetchJars.vue'

export default {
    components: {
        FetchJars
    },

}
</script>

<style scoped>
.wrapper {
    padding: 10px;
    /* border: 1px solid black; */
    background: white;
}
    div {
        background: white;
        text-align: center;
    }
    h1,h3 {
        padding: 10px;
        margin: 0px;
        background: rgb(72, 121, 101);
        color: white;
    }
    h4, p{
        margin: 0;
        text-align: left;
    }

    li {
        padding: 10px;
        margin: 10px;
    }
    li:hover{
        cursor: pointer;
        background: #eee;
    }

    img {
        max-width: 450px;
        max-height: 300px;
    }
    .with_image{
        display: flex;
        flex-flow: row;
    }

    .potten-div1{
        display: flex;
        flex-flow: row;
        margin: 10px;
        justify-content: space-around;
    }
</style>