<template>
<div>
    <h3>Potten</h3>
    <div class="pottery">
         <div v-for="pot in pottery" :key="pot.id">
            <!-- <p>id: {{pot.id}}</p> -->
            <!-- <p>titel: {{pot.titel}}</p> -->
            <!-- <p>image-url: {{pot.image}}</p> -->
            <img :src=" 'http://localhost:3000/'+this.age+'/jars/'+pot.id+'/image'" alt="jar">
            <router-link class="jar_btn" :to="{name: 'Pottery', params: {id: pot.id, age: this.age}}">{{pot.titel}}</router-link>
         </div>
    </div>

</div>
</template>

<script>
export default {
    props: ['age'],
    data(){
        return {
            pottery: [],
            //{id: 2, titel: 'test', image: 'potten/test.jpg'},{id: 2, titel: 'test', image: 'potten/test.jpg'}, {id: 2, titel: 'test', image: 'potten/test.jpg'}
        }
    },
    
    methods: {
        initData(jars){
            for (let i = 0; i < jars.length; i++){
                const tmpJar = {
                        id: jars[i].id,
                        titel: jars[i].titel,       
                    }
                this.pottery.push(tmpJar);
            }
        }
    },

    async mounted(){
    const jars = await fetch('http://localhost:3000/'+ this.age + '/jars')
    .then(response => response.json())
    .catch(err => console.log(err.message))
    this.initData(jars)
    },
}
</script>

<style scoped>

    h1,h3 {
        color: white;
        padding: 10px;
        margin: 0px;
        background: rgb(72, 121, 101);
    }

    .pottery {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    .pottery div {
        display: flex;
        flex-flow: column;;
        align-items: center;

        flex: 30%;
        margin: 10px;
        text-align: center;
        width: 100%;
        max-width: 200px;
        height: 200px;
    }

    .pottery p {
        margin: 0;
    }
    .pottery img {
        width: 90%;
        height: 90%;
    }
    .pottery .jar_btn {
        background: #eee;
        width: 90%;
        border-radius: 4px;
        margin-top: 4px;
        cursor: pointer;
        text-decoration: none;
        color: black;
        font-size: 18px;
    }

    .pottery .jar_btn:hover {
        background: #aaa;
    }
</style>