<template>
    <div class="wrapper">
        <h1>De Ijzertijd</h1>
        <FetchJars age="ironAge"></FetchJars>

        <!-- todo: vul informatie -->

        <!-- vroeg -->
        <div id="vroeg_ijzertijd" class="vroeg">
            <h2>vroeg</h2>

            <!-- Hallstatt Cultuur -->
            <div>
                <h3>800 v.Chr. - 500 v.Chr.</h3>
                <p>De vroege IJzertijd kent een cultuur in nederland, de Hallstatt cultuur. De Hallstatt cultuur is een cultuurgroep die zijn oorsprong heeft in Centraal Europa, en overlap heeft met de late bronstijd. Hallstatt in de ijzertijd is van 800 v.Chr. tot 475 v.Chr. maar begint dus al in de late bronstijd vanaf 1200 v.Chr. De cultuur heeft zijn naam te danken aan het dorpje Hallstatt in Oostenrijk waar ongeveer 1300 graven zijn gevonden uit deze periode. De cultuur heeft zich verspreid door Europa om uiteindelijk rond 1200 v.Chr. te arriveren in Nederland. 
                </p>        
                <br> 
                <p>
                Zoals al eerder genoemd kent de vroege ijzertijd een cultuurgroep, de Hallstatt cultuur, Deze cultuur wijkt af van de voorgaande culturen die met name op landbouw gericht waren, waarin Hallstatt een grote focus had op zoutwinning. Verder is er tijdens de cultuur een opkomst van ijzeren wapens, dankzij een beter vuurbeheersing is het mogelijk om ijzeren voorwerpen te maken. Dit heeft ook impact gehad op de kwaliteit van het aardewerk. Men ziet in de vroege ijzertijd ook een opkomst in celtic fields, deze waren in de bronstijd ook aanwezig maar werden in de ijzertijd op grotere schaal toegepast. Gemiddeld 30m bij 30m, met afwisselende gewassen en ook velden die braak liggen voor een jaar, dit waren ook niet enkele losstaande velden maar vaak grote vlaktes waar meerdere van de velden aan elkaar lagen. De velden worden ook wel raatakkers genoemd. Deze velden waren in het begin vaak omheind door simpele gewassen en hekken gevlochten van riet en takken, dit ging later over op kleine aarde wallen en uiteindelijk ook hogere zandwallen. 
                </p>      
                <br>
                <p>
                    Maar naast ontwikkelingen in cultuur en landbouw en andere zaken worden er ook nieuwe potsoorten gecreëerd of komen aan uit andere gebieden in Europa. We beginnen met de Lappenschalen, deze komen over uit de late bronstijd, en werden gebruikt van 1200-500 v.Chr. Waar deze schalen voor gebruikt werden is helaas niet bekend. Dit waren schalen opgemaakt uit vier tot zes uitgetrokken punten (zie afb 1.) de schalen werden oxiderend gebakken en hadden meestal een magering van fijn steengruis. 
                </p>

                 <div>
                <img src="../../public/assets/ironAge/vroeg1.png" alt="img">
                </div>

                <br>

                <p>
                    Voor versiering werd er gebruik gemaakt van vingertop en nagelindrukken, maar relief versiering in de vorm van het ‘kalenderberg-patroon’. Kalenderbergversiering is een versier methode die uit de late bronstijd komt en voornamelijk werd toegepast op Harpstedt-achtig aardewerk, de versier methode bestond uit velden met groepen plastische richels, die elkaar horizontaal en verticaal afwisselend onderbreken
                </p>

                <div>
                <img src="../../public/assets/ironAge/vroeg2.png" alt="img">
                </div>
            </div>
        </div>

        <!-- midden -->
        <div id="midden_ijzertijd" class="midden">
            <h2>midden</h2>
            <div>
                <h3>500 v.Chr. - 250 v.Chr.</h3>

                <p>
                    De midden ijzertijd, kent een overgang van culturen, van Hallstatt naar La Tène. De La Tène cultuur is een cultuurgroep die ook zijn oorsprong heeft in Centraal europa. La Tène begint in de midden ijzertijd van 475 v.Chr. tot 12 v.Chr. met de overgang naar de Romeinse tijd. De cultuur heeft zijn naam te denken aan de site waar de eerste vondsten van de La Tène cultuur werden gevonden in Zwitserland. Wat opvalt is dat in de midden ijzertijd er een overgang te zien is van crematies en begraven worden in urnen, naar grafheuvels met inhumatiegraven. Hierbij gaat het voornamelijk om rijke en/of belangrijke mensen. Verder speelt de handel in zout een belangrijke rol in de Hallstatt periode in Nederland. Rond 800 v.Chr. begon men naast inhumatiegraven ook voorwerpen te begraven samen met de overledenen in het graf, denk hierbij aan wapens, sieraden, kleding en andere objecten. In plaats van deze in een nabijgelegen rivier te deponeren wat voor die tijd nog een zeer gebruikelijke gewoonte was.
                </p>

                <br>

                <p>
                    Naast een verandering in culturen brengt de midden ijzertijd ook wat nieuw aardewerk. Een voorbeeld hiervan is het Ruinen-Wommels aardewerk wat tussen 650-250 v.Chr. gebruikt werd. Dit waren bollen potten met een ronde schouder en een holle hals, dit aardewerk heeft ook een oude fase die soms wat in vorm verschilde, deze hadden namelijk nog wel eens een buikknik. Dit aardewerk werd reducerend gebakken en krijg daardoor een veel donkere kleur dan andere soorten aardewerk.
                </p>

                <div>
                    <img src="../../public/assets/ironAge/midden1.png" alt="img">
                </div>

                <div>
                    <img src="../../public/assets/ironAge/midden2.png" alt="img">
                </div>


                <p>
                    Er werd voor dit aardewerk een magering van schelpgruis en graniet gebruikt. Als er versieringen aanwezig waren op de potten dan bestond dit uit geometrische lijnversiering met driehoek motieven met daarin soms ook incrustatie. Ook hier is er weer een verschil in versierings methodes waarbij de oude fase van het aardewerk vaak onversierd bleef. 
                </p>

                 <div>
                    <img src="../../public/assets/ironAge/midden3.png" alt="img">
                </div>

                <p>
                    Rond 500 v.Chr. ziet men ook de introductie van het Marne aardewerk 500-250 v.Chr. Dit is een vrij herkenbare pot wat voornamelijk komt door de vorm met een hoekig profiel en een hoge trechtervormige hals en een kleine soms holle bodem. Dit aardewerk werd net zoals het Ruinen-Wommels aardewerk reducerend gebakken. Als magering werd er voornamelijk gebruik gemaakt van chamotte. Voor versiering heeft dit aardewerk niet veel interessants te bieden met soms wat kamstreek versiering of ingekraste meanderpatronen op de hals 
                </p>

                 <div>
                    <img src="../../public/assets/ironAge/midden4.png" alt="img">
                </div>
            </div>
            
        </div>

        <!-- laat -->
        <div id="laat_ijzertijd" class="laat">
            <h2>laat</h2>
            <div>
                <h3>500 v.Chr. - 250 v.Chr.</h3>

                <p>
                    Nederland kent maar weinig verandering in de ijzertijd, behalve een verbetering in kwaliteit van producten en wapens etc. blijft er veel hetzelfde. kleine gemeenschappen die in groepen samen wonen in dorpen. In tegenstelling tot bijv. Duitsland en Frankrijk waar al heuse steden beginnen te ontstaan. Verder ziet men een verschil in grootte van de huisplattegronden waar in de vroege en midden ijzertijd woningen kleiner leken te worden zien we in de late ijzertijd weer een veranderingen waarbij huizen twee, soms wel drie keer zo lang worden. Daarnaast komt ook de introductie van de keerploeg waarmee men dieper kan ploegen. Dit heeft als gevolg dat er weer meer soorten gewassen geplant kunnen worden. 
                </p>

                <br>

                <p>
                    Ook de late ijzertijd kent weer een introductie van nieuwe aardewerk soorten zoals bijvoorbeeld het Streepband-aardewerk 250 v.Chr. - 150 n.Chr. Dit waren vaak grote potten met diverse afgeronden vormen, soms hadden ze oortjes vanaf de schouder tot net onder de rand. Dit aardewerk werd Oxiderend gebakken en had als magering meestal plantaardige resten maar soms werd er ook gebruik gemaakt van chamotte. Deze potten kenden verder vrij weinig decoraties met tussen de een en drie groeflijnen die op de overgang met de hals en de schouders zaten. En soms werden delen bij de oren of op de oren ook versierd.
                </p>

                <div>
                    <img src="../../public/assets/ironAge/laat1.png" alt="img">
                </div>

                <p>
                    Nederland kende, zoals al eerder genoemd, in de ijzertijd veel zoutwinning en handel in zout. Om dit zout op te slaan en te transporteren werd er gebruik gemaakt van Briquette-aardewerk 800-0 v.Chr. Dit aardewerk bestond in zijn vroegste vorm voornamelijk uit gootjes, vergelijkbaar met een soort dakpannen. Dit aardewerk werd oxiderend gebakken en had meestal een plantaardige magering, ook kende dit aardewerk geen verdere versieringen of afwerkingen. Dit mogelijk omdat het aardewerk toch voornamelijk als opslag werd gebruikt en voor handel.  
                </p>


                <div>
                    <img src="../../public/assets/ironAge/laat2.png" alt="img">
                </div>

                <div>
                    <img src="../../public/assets/ironAge/laat3.png" alt="img">
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import FetchJars from '../components/FetchJars.vue'

export default {
    components: {
        FetchJars
    },

}
</script>

<style scoped>
.wrapper {
    padding: 10px;
    /* border: 1px solid black; */
    background: white;
}
    div {
        background: white;
        text-align: center;
    }
    h1,h3 {
        padding: 10px;
        margin: 0px;
        background: rgb(72, 121, 101);
        color: white;
    }
    h4, p{
        margin: 0;
        text-align: left;
    }

    li {
        padding: 10px;
        margin: 10px;
    }
    li:hover{
        cursor: pointer;
        background: #eee;
    }

    img {
        max-width: 400px;
        max-height: 250px;
    }
    .with_image{
        display: flex;
        flex-flow: row;
    }
</style>