<template>
    <div class="wrapper">
        <h1>Het Neolithicum</h1>
        <FetchJars age="neolithicum"></FetchJars>


        <!-- Vroeg -->
        <div id="vroeg_neolithicum" class="vroeg">
            <h2>Vroeg</h2>

            <!-- Lineaire Bandkeramiek -->       
            <div>
            <h3>Lineaire Bandkeramiek (5300 – 4900 v. Chr.)</h3>

            <p>Rond 5500 v. Chr. worden de eerste sporen zichtbaar van het ontstaan van de Lineaire Bandkeramiek die voortkomt uit de Starcevo-gemeenschappen in Transdanubië, Hongarije. Rond 5250 v. Chr. is de LBK zo ver als de lössgronden in Zuid-Limburg verspreidt. Deze Bandkeramiekers waren de eerste boeren die Nederland heeft gekend. </p>
            <br>
            <p>De naam van deze cultuur is afkomstig van het aardewerk dat ze produceerden. Het aardewerk werd gemaakt van lokale klei, in het geval van de in Limburg wonende Bandkeramiekers ging het om verleemd löss. Kleine voorwerpen zoals potjes werden uit één stuk klei gevormd, grotere gebruiksvoorwerpen werden uit lappen klei gebouwd. Om de klei steviger te maken werd gebruik gemaakt van potgruis, zand en fijn grind als magering. 
            Er werden twee soorten aardewerk gemaakt: versierd, dunwandig aardewerk en onversierd, dikwandig aardewerk. De vorm van het aardewerk is vrij open, in de late fase wordt er duidelijker een S-vorm zichtbaar, met een bolle bodem. Na het drogen van de potten word het aardewerk in een open vuur gebakken maar onder zuurstofarme condities resulterend in een donkere, zwart-grijze kleur. Het onversierde aardewerk werd oxiderend gebakken waardoor er allerlei tinten rood en grijs voorkomen.</p>
            <br>
            <p>Kenmerkend voor het Lineaire Bandkeramiek zijn de lijnmotief  in boog- of spiraalvormen waar het zijn naam aan dankt. Het LBK verandert mettertijd van stijl en is op te delen in drie fasen. In de eerste fase bestaat de decoratie van het aardewerk uit eenvoudige diepe lijnmotieven. Rond 5300 v. Chr. wordt de tweede fase zichtbaar, hier splitst de stijl in het westen zich af van die in Centraal Europa. Het aardewerk wordt versierd met lange spiraalvormige of hoekige banden, Flomborn, terwijl in Centraal Europa men overgaat naar hetzelfde motief als in de eerste fase maar met dikke stippen op de lijnen, het Notenkopf aardewerk. Het Flomborn aardewerk verbreidt zich ook tot Zuid-Limburg. In de derde fase worden de motieven complexer en verfijnder. 
            Het bandkeramische aardewerk werd voor allerlei doeleinden gebruikt. Het onversierde aardewerk werd als voorraadpot gebruikt en het dunwandige versierde aardewerk voor servies. Daarnaast werden er ook spinklosjes, altaartjes en beeldjes van het aardewerk gemaakt.</p>
            <br>

            <div>
                <img src="../../public/assets/neolithicum/vroeg1.png" alt="img">
            </div>

            <div>
                <img src="../../public/assets/neolithicum/vroeg2.png" alt="img">
                <p>Afbeelding: Voorbeelden van Bandkeramisch aardwerk uit de opgraving Maastricht-Klinkers.</p>
            </div>

            <div>
                <img src="../../public/assets/neolithicum/vroeg3.jpg" alt="img">
                <p>Bandkeramieken pot met een hoekige spiraalversiering en een knobbeloortje (links). Bron: Rijksmuseum van Oudheden Leiden. </p>
            </div>

            <div>
                <img src="../../public/assets/neolithicum/vroeg4.jpg" alt="img">
                <p>Bandkeramieken potje met rechtlijnige boogversiering. Bron: Rijksmuseum van Oudheden Leiden. </p>
            </div>

            <div>
                <img src="../../public/assets/neolithicum/vroeg5.jpg" alt="img">
                <p>Een bandkeramieken potje zonder enige versiering. Bron: Rijksmuseum voor Oudheden Leiden. </p>
            </div>
            <br>
            </div>

            <!-- La Hoguette -->
            <div>
            <h3>La Hoguette (5350 - </h3>
            <p>Het La Hoguette aardewerk kwam voor naast het Lineaire Bandkeramiek en is waarschijnlijk ontstaan rond 5350 v. Chr.. Er is weinig bekend van de mensen die dit aardewerk maakten maar het aardewerk verschilt dermate van het Lineaire Bandkeramiek dat er vanuit wordt gegaan dat het door een andere bevolkingsgroep gemaakt is. Tot nu toe is eigenlijk niets anders van deze bevolkingsgroep bekend dan dat ze afkomstig waren uit het Middellands Zeegebied en het aardewerk dat ze hebben achtergelaten. De fragmenten aardewerk worden meestal gevonden in de afvalkuilen van de westelijke nederzettingen van de Lineaire Bandkeramiek.</p>
            <br>
            <p>Het La Hoguette aardewerk is dikwandig en opgebouwd uit rollen klei. De vorm van de potten is kegelvormig waarbij de onderkant puntig is en de rand naar binnen buigt, bijna als een ei. De magering van dit aardewerk bestaat uit verbrand beengruis en de kleur is rossig. 
            De decoratie die werd toegepast is heel typisch voor het La Hoguette aardewerk, het bestaat uit verhoogde banen of banden die aan beide zijden voorzien zijn van puntige indrukken. Deze indrukken zijn gemaakt met een soort gereedschap dat meerdere tanden bezat. Maar niet alle potten waren op deze manier gedecoreerd, sommigen waren helemaal niet gedecoreerd terwijl anderen over decoraties beschikken die op geen enkele andere scherf worden teruggevonden. 
            Daarnaast zijn er ook decoraties en technieken die nauwelijks voorkomen in het oorsprongsgebied van de La Hoguette mensen. Het gaat hier onder andere om variaties in de verhoogde banen en de magering van beengruis. Deze nieuwe technieken kunnen zijn opgedaan en toegepast tijdens de reis door Centraal Europa, vermoedelijk in het gebied van de rivier de Rhône in Zuid-Frankrijk.</p>
            <br>
            <p>Door deze bescheidenheid aan archeologische restanten en verschillende methoden en technieken die gebruikt zijn op het La Hoguette aardewerk wordt gesproken van schaapherders die naar West-Europa trokken. Deze herders hadden geen vaste woonplaats en kwamen in contact met de lokale boeren van de Lineaire Bandkeramiek.</p>
            <br>

            <div>
                <img src="../../public/assets/neolithicum/vroeg6.png" alt="img">
                <p>Een reconstructie van gevonden scherven van een La Hoguette pot uit het Franse Choisey.</p>
            </div>
            <br>

            </div>

            <!-- Rössencultuur -->
            <div>
            <h3>Rössencultuur (4900 – 4200 v. Chr.)</h3>
            <p>De Rössencultuur is een opvolger van de Lineaire Bandkeramiek en heeft van 4900 tot 4200 v. Chr. Bestaan. Net zoals de Bandkeramiekers leefde de Rössencultuur in Nederland op de vruchtbare Limburgse lössgronden, het grootste deel van de Rössencultuur kwam voor in Duitsland.
            Het aardewerk van de Rössencultuur is handgevormd met een zwarte kleur en kenmerkend zijn de ronde bodems die het aardewerk heeft. De potvormen van deze cultuurgroep betreffen hoge schalen op een standvoet, bolvormige bekers, puntige schalen en zogeheten bootschepen. Het aardewerk is hard gebakken en dunwandig met een magering van zand of mica (een mineralengroep), zelden werd steengruis gebruikt.
            Nog een kenmerkend attribuut van het Rössencultuur aardewerk is dat het erg rijk versierd is met een glad, gepolijst oppervlak. De Rössencultuur past voor het eerst een diepe steekversiering toe. De versiering bestaat meestal uit horizontale, bandvormige patronen of volledig vlakdekkende decoraties. Er wordt in mindere mate ook gebruik gemaakt van verticale patronen. Deze versieringen is opgemaakt uit  dubbele steken ("geitenvoetsteken") opgevuld met witte botpasta (incrustatie), groefachtige steken en stempelafdrukken.
            Van het Rössen-aardewerk zijn veel verschillende typen aardewerk bekend zoals kogelbekers, kookpotten, bekers, flessen, schalen en voorraadpotten en zeven. 
            </p>
            <br>

            <div>
                <img src="../../public/assets/neolithicum/vroeg7.png" alt="img">
                <p>Fragmenten Rössen-aardewerk.</p>
            </div>

            <div>
                <img src="../../public/assets/neolithicum/vroeg8.png" alt="img">
                <p>Aardewerk van de Rössencultuur</p>
            </div>
            <br>

            </div>

            <!-- Swifterband -->
            <div>
            <h3>Swifterbant (5100 – 3400 v. Chr.)</h3>
            <p>Naast het aardewerk van de Lineaire Bandkeramiek, La Hoguette en de Rössen ontstond nog een soort aardewerk in Nederland, dit werd gemaakt door de jagers van de Swifterbantcultuur. De Swifterbantcultuur is vernoemd naar de plaats waar het eerste aardewerk van deze groep werd aangetroffen: Swifterbant. Deze cultuur kwam voor tussen 5100 tot 3400 v. Chr. en bewoonden seizoensmatig rivierduinen en oeverwallen van West-Nederland tot aan Hamburg.</p>
            <br>
            <p>Het Swifterbant-aardewerk kan zowel dun- als dikwandig zijn maar heeft vrijwel altijd een S-vormig profiel met een naar buiten staande rand en een schouder die wel of niet duidelijk te zien is. De bodems van het aardewerk zijn puntig of rond met soms een knobbel. Het aardewerk kan een geelgrijze tot bijna zwarte kleur hebben, dit duidt erop dat het aardewerk in een open vuur gebakken is.</p>
            <br>
            <p>Het aardewerk van de Swifterbantcultuur is opgebouwd uit smalle rollen klei die vervolgens naar beneden worden gestreken. De magering bestaat meestal uit organisch materiaal zoals fijngehakt gras, as en/of verpulverd houtskool. Daarnaast kunnen steengruis, zand, chamotte, kleiballetjes en vergruist kristallijn gesteente zoals kwarts. Het organische materiaal, zoals gras, verbrand tijdens het bakken en is als afdruk zichtbaar of als verkoolde resten. 
            De decoratie op het aardewerk bestaat voornamelijk uit velden of rijen van indrukken die zijn aangebracht met de vingertop, spatels of prikkers zoals gras- of rietstengels. Deze versieringen komen vooral voor op de schouder en de rand (binnen en/of buitenkant) en soms vlakdekkend. De wand van de pot is meestal glad.
            De wand van het aardewerk werd met de hand gladgestreken of met een hulpmiddel. Dit kunnen houten spatels of vuursteen zijn geweest die holtes hebben achtergelaten die nog zichtbaar zijn als de pot niet voldoende is afgewerkt. Maar er werd ook gewerkt met bundels gras die veeg- en schraapsporen achterlaten. In sommige gevallen is het aardewerk ook gepolijst wanneer de klei in leerharde toestand verkeerde, dit proces laat een glans achter. De Swifterbantcultuur maakte gebruik van één potvorm.</p>
            <br>

            <div>
                <img src="../../public/assets/neolithicum/vroeg9.jpg" alt="img">
                <p>Een Swifterbant pot met een diameter van ca. 19 cm en decoratie aangebracht met een spatel. Bron: Rijksdienst voor Cultureel Erfgoed</p>
            </div>

             <div>
                <img src="../../public/assets/neolithicum/vroeg10.jpg" alt="img">
                <p>Fragmenten Swifterbant aardewerk waarbij duidelijk indrukken van een plantenstengel te zien zijn. Bron: Rijksdienst voor Cultureel Erfgoed</p>
            </div>

            <div>
                <img src="../../public/assets/neolithicum/vroeg11.jpg" alt="img">
                <p>Fragmenten Swifterbant aardewerk waarbij duidelijk horizontale indrukken van een plantenstengel op de buikknik te zien zijn. Bron: Rijksdienst voor Cultureel Erfgoed</p>
            </div>

            </div>

        </div>


        <!-- Midden -->
        <div id="midden_neolithicum" class="midden">
            <h2>Midden</h2>

            <!-- Michelsbergcultuur -->
            <div>
            <h3>Michelsbergcultuur (4200 – 3400 v. Chr.)</h3>

            <p>De Michelsbergcultuur was de opvolger van de Rössencultuur en het Belgische Groupe de Blicquy en kwam voor van 4200  tot 3400 v. Chr. De vindplaatsen in Nederland beperken zich tot Limburg en Noord-Brabant maar de Michelsbergcultuur was verspreid over Nederland, België, Frankrijk en Duitsland. De Michelsbergcultuur is opgedeeld in verschillende groepen op basis van regionale verschillen. Hoewel er in Nederland wel monumentale (verzamel)plaatsen bekend zijn, die gekenmerkt worden door enkele hectare grote oppervlakten omringd door een brede gracht met wal en een eventuele palissade, zijn er geen nederzettingen bekend die met zekerheid aan de Michelsbergcultuur te koppelen zijn.</p>
            <br>
            <p>Het aardewerk van de Michelsbergcultuur dat in Nederland aan wordt getroffen is te onderscheiden in Rijnlands aardewerk en aardewerk van de Noord-Franse/Belgische groep. Kenmerkend voor het Michelsberg-aardewerk is het S-vormige profiel met de wijduitstaande rand en bolle bodem. De S-vorm van het profiel kan erg nadrukkelijk zijn of juist niet..</p>
            <br>
            <p>Het aardewerk van de Michelsbergcultuur is opgebouwd uit rollen klei en dikwandig. Deze klei werd in geval van het Rijnlandse aardewerk gemageerd met kwarts en bij het aardewerk van de Noord-Franse/Belgische groep gemageerd met vuursteen of organisch materiaal. In de meeste gevallen is er bij het Michelsbergcultuur aardewerk geen sprake van decoratie, alleen bij enkele grote voorraadpotten is sprake van een patroon van vingerafdrukken langs de rand. Door het gebrek aan decoratie is het aardewerk ook erg lastig te herkennen.</p>
            <br>
            <p>Van de Michelsbergcultuur is de tulpbeker het meest herkenbare voorbeeld. Daarnaast werden er ook voorraadpotten, kruiken en ronde schijven, deze worden geïnterpreteerd als bakplaten, geproduceerd. De bekers en potten kunnen knobbelvormige oren hebben.</p>
            <br>

            <div>
                <img src="../../public/assets/neolithicum/midden12.png" alt="img">
                <p>Verschillende tulpbekers uit de Noord-Franse/Belgische groep.</p>
            </div>

            <div>
                <img src="../../public/assets/neolithicum/midden13.png" alt="img">
                <p>Verschillende voorraadpotten uit van de Noord-Franse/Belgische groep.</p>
            </div>
            <br>

            </div>

            <!-- Trechterbekercultuur -->
            <div>
            <h3>Trechterbekercultuur (3400 - 2850 v. Chr.)</h3>

            <p>Het trechterbekervolk heeft de meest bekende sporen achtergelaten in het Nederlandse landschap, namelijk de hunebedden. De trechterbekercultuur kwam van 3400 tot 2850 v. Chr. voor op de zandgronden van Nederland. Ze waren verspreid over Nederland, Duistland, België en Denemarken. Het betreft een boerensamenleving. De boeren verbouwen eenkoorn en emmertarwe op de kleine akkers die rond het huis liggen. De veestapel bestaat uit runderen, schapen, varkens en geiten, die grazen in de buurt van de huisplaatsen. Voor het zware werk gebruiken ze ossen die vierwielige wagens met houten schijfwielen voorttrokken.</p>
            <br>
            <p>Het aardewerk van de trechterbekercultuur is goed bekend doordat het ook werd meegegeven in grafcontext, zoals bij hunebedden, en compleet wordt teruggevonden. Er zijn aanwijzingen dat het aardewerk restanten van een begrafenismaal hebben bevat.  Het aardewerk werd opgebouwd uit rollen klei en was dunwandig. De bodem van het aardewerk is rond of vlak wat er op wijst dat de pot op hete kolen werd gezet tijdens het koken in plaats van in een open vuur.</p>
            <br>
            <p>De kenmerkende decoratiemethode van de trechterbekercultuur zijn de versieringen die bestonden uit diepe insteken gevuld met botpasta, incrustatie. De decoraties komen in linten, banden, vlakken of zigzag-patronen voor.</p>
            <br>
            <p>Het trechterbekeraardewerk wordt onderscheidt in twee fasen: de Drouwen- en Havelte-stijl. Drouwen is het oudst en wordt opgevolgd door de Havelte-stijl. Kenmerkend aan de overgang van de Drouwen-stijl naar de Havelte-stijl is dat de decoratie steeds eenvoudiger en abstracter maar ook minder wordt. Binnen deze stijlen zijn ook veranderingen zichtbaar.</p>
            <br>
            <p>De Drouwen-stijl kenmerkt zich in het begin door het exclusieve gebruik van verticale decoraties in de vorm van smalle banden. Deze decoraties zijn alleen aangebracht op de buik, de hals is niet versierd. Naarmate de tijd vordert verschijnen naast de verticale versieringen ook horizontale patronen op het aardewerk en wordt de hals ook versierd. In de laatste fase van het Drouweler aardewerk is er een ongeveer gelijke hoeveelheid aan horizontale en verticale versieringen.</p>
            <br>
            <p>In de eerste fase van de Havelte-stijl is een vermindering in versierd oppervlak van het aardewerk zichtbaar, ook wordt er meer onversierd aardewerk gemaakt. De variatie in soorten aardewerk is ook vermindert, het gaat vooral om kommen en amforen. Op een gegeven moment wordt de decoratie alleen nog teruggevonden op de schouder en hals waarna decoratie in de laatste fase van de Havelte-stijl nauwelijks nog voorkomt. In deze laatste fase zijn de kommen en amforen uit de vroeg-Havelte vervangen door randkommen en schalen.</p>
            <br>
            <p>De trechterbekercultuur bracht een grote verscheidenheid aan vormen aardewerk voort. Het gaat om trechterbekers, kruiken, flessen, kraagflesjes, terrines, amforen, emmers, lepels, kommen en platen. Deze platen werden mogelijk als deksel gebruikt maar worden bakplaten genoemd. Hoewel zoals hiervoor genoemd de verscheidenheid in vormen afneemt blijven kraagflessen en de bakplaten de gehele periode in gebruik. </p>
            <br>

            <div>
                <img src="../../public/assets/neolithicum/midden14.jpg" alt="img">
                <p>Een trechterbeker met decoraties die kenmerkend zijn voor de Drouwen-stijl. Bron: Rijksmuseum van Oudheden.</p>
            </div>

            <div>
                <img src="../../public/assets/neolithicum/midden15.png" alt="img">
                <p>Een trechterbeker waarbij de decoratie tot boven de rand rijkt en waarbij ook gebruikt is gemaakt van horizontale versieringen. Bron: Rijksmuseum van Oudheden.</p>
            </div>

            <div>
                <img src="../../public/assets/neolithicum/midden16.jpg" alt="img">
                <p>Verzameling van verschillende trechterbekers. Bron: Rijksmuseum van Oudheden.</p>
            </div>

            <div>
                <img src="../../public/assets/neolithicum/midden17.jpg" alt="img">
                <p>Een voorbeeld van een bakplaat daterend tussen 3600 – 2500 v. Chr.. Bron: Rijksmuseum voor Oudheden Leiden.</p>
            </div>
            <br>
            
            </div>

            <!-- Vlaardingen-groep -->
            <div>
            <h3>Vlaardingen-groep (3400 – 2500 v. Chr.)</h3>

            <p>De Vlaardingen-groep kwam voor van 3400 tot 2500 v. Chr. en bewoonde hoge plekken langs kust en rivier zoals duinen en oeverwallen. Het is onduidelijk of de mensen van de Vlaardingen-groep permanent nederzettingen bewoonden of seizoensgebonden de huizen bewoonden. Er werd vermoedelijk zowel van landbouw als van jacht en visserij geleefd.</p>
            <br>
            <p>Het aardewerk van de Vlaardingen groep wordt gekenmerkt door vrij dikwandig aardewerk met een S- of tonvorm en met een vlakke bodem. Dit werd geproduceerd in de vorm van kraaghaslflesjes en verschillende vormen van potten. Het aardwerk werd opgebouwd uit rollen (bij sommige potten is dit nog duidelijk zichtbaar) en is gemageerd met kwarts, zand of brokjes aardewerk. Het aardewerk heeft een verscheidenheid aan kleuren, van bijna zwart tot zandkleurig, wat duidt op een bakproces in een open vuur. De versiering van het aardewerk van de Vlaardingen-groep beperkt zich tot een enkele baan perforaties onder de rand of op de wand en knobbeloren. Een deel van het aardewerk bleef ook volledig onversierd.</p>
            <br>
            <p>Het Vlaardingen-aardewerk is op basis van 14C-datering, vorm en decoratie in drie fasen opgedeeld. De vroege fase bestaat uit aardewerk dat een duidelijke S-vorm heeft waarbij de rolopbouw zichtbaar is en waarbij er perforaties zijn aangebracht onder de rand. 
            De middelste fase bestaat uit aardewerk met een (in de meeste gevallen) minder nadrukkelijke S-vorm en minder gedrongen vormen als bij de fase ervoor. Ook is bij deze fase sprake van alle bekende decoratie-methoden: perforaties onder de rand, perforaties in de wand, perforaties onder de rand en in de wand en knobbeloren. Aardewerk uit de vroegste fase komt ook voor in de middelste fase.</p>
            <br>
            <p>De laatste fase bestaat uit alleen langgerekte modellen met perforaties onder de rand, perforaties onder de rand met knobbeloren en perforaties in de wand. Bij deze laatste fase kan ook aardewerk voorkomen dat dezelfde kenmerken heeft als aardewerk in de middelste fase, het gaat hier specifiek om het langgerekte aardewerk met versiering in de vorm van perforaties onder de rand en perforaties onder de rand in combinatie met knobbeloren. Bij alle fasen komt ook aardewerk zonder decoratie voor.</p>
            <br>

            <div>
                <img src="../../public/assets/neolithicum/midden18.jpg" alt="img">
                <p>Een beker van de Vlaardingen-groep. Bron: Canon van Nederland. </p>
            </div>

            <div>
                <img src="../../public/assets/neolithicum/midden19.jpg" alt="img">
                <p>Pot afkomstig van de Vlaardingengroep. Bron: Rijksmuseum van Oudheden Leiden.</p>
            </div>

            <div>
                <img src="../../public/assets/neolithicum/midden20.jpg" alt="img">
                <p>Afgietsel van een pot afkomstig van de Vlaardingengroep, let op de perforaties onder de rand. Bron: Rijksmuseum van Oudheden Leiden.</p>
            </div>

            <div>
                <img src="../../public/assets/neolithicum/midden21.png" alt="img">
                <p>Randfragment waarbij perforaties onder de rand te zien zijn. </p>
            </div>

            <div>
                <img src="../../public/assets/neolithicum/midden22.png" alt="img">
            </div>

            <div>
                <img src="../../public/assets/neolithicum/midden23.png" alt="img">
                <p>Fragment van een bakplaat met de mogelijke locatie weergegeven op een tekening. </p>
            </div>
            <br>

            </div>

            <!-- Stein-groep -->
            <div>
            <h3>Stein-groep (3450 – 2500 v. Chr.)</h3>

            <p>De Stein-groep kwam rond 3450 tot 2500 v. Chr. voor in Limburg en oostelijk Brabant, mogelijk ook in het noordoosten van België. Het graf met een stenen vloer dat in 1963 in Stein werd gevonden is de naamgever van deze cultuur. Het graf bevatte menselijke crematieresten, verbrande benen pijlpunten, transversale pijlspitsen, een pot en een kraaghalsflesje. In Veldhoven-Habraken is een 30 m lange, tweeschepige huisplattegrond bekend die taps toeloopt.  Op andere plekken in Limburg en Oost-Brabant is sprake van vindplaatsen zonder duidelijke nederzettingsstructuren, maar wel met vondststrooiingen van aardewerk en vuursteen.</p>
            <br>
            <p>Het aardewerk is erg moeilijk te herkennen en te onderscheiden van het aardewerk van de Vlaardingen-cultuur. Het gaat om aardewerk met een S-vormig profiel met naar buiten staande randen en een vlakke bodem. Het aardewerk is gemaakt van klei met een magering van kwarts en soms aardewerk en/of zand. Het aardewerk heeft een bruine tot gele kleur. De versiering  bestaat uit  perforaties onder de rand of op de wand en hooggeplaatste knobbeloren (dit is tot nu toe maar bij een aantal scherven aangetroffen, deze kunnen van dezelfde pot afkomstig zijn). Het overgrote deel van het Stein-groep aardewerk is echter onversierd maar wel glad gestreken en soms licht gepolijst maar nog wel hobbelig. Het aardewerk komt vooral voor in de vorm van potten en een klein aantal kraagflesjes.  </p>
            <br>

            <div>
                <img src="../../public/assets/neolithicum/midden24.jpg" alt="img">
                <p>Een pot afkomstig van de Stein-groep, deels gerestaureerd. Bron: Rijksmuseum van Oudheden Leiden. </p>
            </div>

            <div>
                <img src="../../public/assets/neolithicum/midden25.jpg" alt="img">
                <p>Een potje afkomstig van de Stein-groep, deels gerestaureerd. Bron: Rijksmuseum van Oudheden Leiden. </p>
            </div>

            <div>
                <img src="../../public/assets/neolithicum/midden26.jpg" alt="img">
                <p>Een kraaghalsflesje met zes knobbeloren afkomstig van de Stein-groep. Bron: Rijksmuseum van Oudheden Leiden. </p>
            </div>
            <br>

            </div>

        </div>


        <!-- Laat -->
        <div id="laat_neolithicum" class="laat">
            <h2>Laat</h2>

            <!-- Enkelgrafcultuur -->
            <div>
            <h3>Enkelgrafcultuur (2850 – 2450 v. Chr.)</h3>

            <p>De Enkelgrafcultuur kwam voor van 2850 tot 2450 v. Chr. en zij waren het eerste volk dat, op veen na, alle landschapstypen in Nederland bewoonde. De Enkelgrafcultuur is onderdeel van de grotere Touwbekercultuur die zich tot in Rusland verspreide. De bevolking van de Enkelgrafcultuur leefde van zowel landbouw als jacht en visserij. </p>
            <br>
            <p>Het aardewerk van de Enkelgrafcultuur is in twee types op te delen:
            De dunwandige bekers, ook wel ‘standvoetbekers’ genoemd, zijn gemagerd met zand. De bekers hebben een S-profiel en een langgerekte vorm. De decoratie bestaat uit touwlijnen of diagonale groeven die zich boven de schouder op de hals bevinden. Vanaf ongeveer 2600 v. Chr. begint de decoratie steeds verder naar beneden te zakken tot de hele beker versierd is, de All Over Ornamented bekers. Bij deze bekers is een versiering aan de binnenkant van de rand ook mogelijk. De versiering bij de AOO bekers bestond uit afwisselend groeven en lijnen of volledig versierd met touwlijnen. Dit type aardewerk wordt voornamelijk in grafcontext gevonden. 
            Daarnaast kwamen potten met een iets dikkere wand voor die gemagerd zijn met steengruis en zand, deze zijn ook wel bekend als golfbandbeker. Deze potten hebben hetzelfde S-profiel als de bekers. De decoraties bestaan uit vingerafdrukken in het gebied onder de rand waarbij de buik onversierd is. Op de buik zijn vaak wel schraapsporen aanwezig. Van dit type aardewerk wordt gedacht dat het gebruikt werd voor voedselbereiding en opslag.</p>
            <br>

            <div>
                <img src="../../public/assets/neolithicum/laat27.jpg" alt="img">
                <img src="../../public/assets/neolithicum/laat28.jpg" alt="img">
                <img src="../../public/assets/neolithicum/laat29.jpg" alt="img">
                <p>Drie fases van standvoetbekers. Van links naar rechts: een vroege beker met alleen versiering boven de schouder, een All Over Ornamented beker en een beker waarbij de versiering is opgedeeld in zones. Bron: Rijksmuseum van Oudheden Leiden. </p>
            </div>
            <br>

            </div>


            <!-- Klokbekercultuur -->
            <div>
            <h3>Klokbekercultuur (2450 – 2000 v. Chr.)</h3>

            <p>De klokbekercultuur kwam voor van 2450 tot 2000 v. Chr. en is de opvolger van de Enkelgrafcultuur. Bij de klokbekercultuur speelde de akkerbouw en veeteelt een belangrijke rol, daarnaast kwam er nog wel visserij en jacht voor. Er waren mogelijk aparte kampementen die volledig op de visserij gericht waren.</p>
            <br>
            <p>Bij het aardewerk van de Klokbekercultuur is (net zoals bij de Enkelgrafcultuur) sprake van twee typen aardewerk.
            Het dunwandige bekeraardewerk is opgebouwd uit rollen klei gemagerd met brokjes aardewerk, zand en fijn grind. De vorm van het bekeraardewerk verandert geleidelijk van vorm tot de klokbekers waar deze cultuur zijn naam aan te danken heeft. Uiteindelijk heeft het een S-vormig profiel met een rechte hals en een bolle buik, als een omgedraaide klok of bel. Het aardewerk heeft een lichte geel tot bruine kleur.  Kenmerkend voor deze klokbekers is dat de decoratie in horizontale banden aan wordt gebracht met onversierde zones ertussenin. De decoratie binnen de banden bestaat uit groeven en motieven van lijnen en driehoeken, deze werden aangebracht met een getande spatel. 
            De grotere potten met een iets dikkere wand, niet dikwandig, zijn ook uit rollen klei opgebouwd en gemagerd met steengruis. Deze potten dragen de naam ‘halspotbekers’ en zijn 40-50 cm hoog.  De halspotbekers hebben een duidelijke hals-schouderknik en een meestal afgeronde overgang van de schouder naar de buik. De hals is cilindrisch of uitstaand. De versiering bestaat uit vinger- en nagelafdrukken maar er kunnen ook groeflijnen voorkomen. Deze versiering is vaak afwijkend op de schouder. 
            Zowel het bekeraardewerk als de halspotbekers zijn licht van kleur, ze zijn oxiderend gebakken. Van het bekeraardewerk wordt gedacht dat het gebruikt werd als servies en de potbekers als voedselopslag. Beiden werden gebruikt om mee te koken.</p>
            <br>

            <div>
                <img src="../../public/assets/neolithicum/laat30.jpg" alt="img">
                <p>Een klokbeker met de typerende vorm. Bron: Rijksmuseum van Oudheden Leiden.</p>
            </div>

            <div>
                <img src="../../public/assets/neolithicum/laat31.jpg" alt="img">
                <p>Klokbeker met een duidelijke S-vorm en versiering die in banden aan is gebracht. Bron: Rijksmuseum voor Oudheden Leiden.</p>
            </div>

            <div>
                <img src="../../public/assets/neolithicum/laat32.jpg" alt="img">
                <p>Halspotbeker met driehoek- en cirkelvormige nagelindrukken met daarbij groeflijnen. Bron: Rijksmuseum van Oudheden. </p>
            </div>

            <div>
                <img src="../../public/assets/neolithicum/laat33.jpg" alt="img">
                <p>Potbeker met verschillende waarop verschillende decoratiemethoden zijn toegepast. Onder andere groeflijnen en nagelindrukken. Bron: Rijksmuseum voor Oudheden Leiden. </p>
            </div>


            </div>

        </div>

    </div>
</template>

<script>
import FetchJars from '../components/FetchJars.vue'

export default {
    components: {
        FetchJars
    },

}
</script>

<style scoped>
.wrapper {
    padding: 10px;
    /* border: 1px solid black; */
    background: white;
}
    div {
        background: white;
        text-align: center;
    }
    h1,h3 {
        padding: 10px;
        margin: 0px;
        background: rgb(72, 121, 101);
        color: white;
    }
    h4, p{
        margin: 0;
        text-align: left;
    }

    li {
        padding: 10px;
        margin: 10px;
    }
    li:hover{
        cursor: pointer;
        background: #eee;
    }

    img {
        max-width: 450px;
        max-height: 300px;
    }
    .with_image{
        display: flex;
        flex-flow: row;
    }
</style>