<template>
    <div class="wrapper">
        
        <div class="left">
            <div class="top">
                <h1>{{this.titel}}</h1>
                <img :src=" 'http://localhost:3000/'+this.age+'/jars/'+this.id+'/image'" alt="jar">
            </div>
            <div class="bottom">
                <p>{{this.beschrijving}}</p>
            </div>
            <div class="button">
                <router-link class="link_3D" :to="{name: '3D', params: {id: this.id, age: this.age}}">Bekijk deze pot in 3D</router-link>
                <button @click="downloadJar()">Download deze Pot</button>
            </div>
        </div>

        <div class="right">
            <h1>Details</h1>
            <div v-for="key in keys" :key="key.id" class="details">
                <div class="pair">
                  <p class="key">{{key}}: </p>
                  <p class="value">{{this.details[key]}}</p>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    props: ['id', 'age'],
    methods: { 
        initData (info) {
            console.log(info)

            this.titel = info.titel;
            //keys are the keys of the this.details JSON. 
            //Not every jar has the same details, that's why we create elements based on the keys.
            this.details = {
                datering: info.datering,
                vindplaats: info.vindplaats,
                omvang_pot: info.omvang_pot,
                versiering: info.versiering,
                vorm: info.vorm
            }
            this.keys = Object.keys(this.details); 
        },
        downloadJar () {
            fetch('http://localhost:3000/'+this.age+'/jars/'+this.id+'/3d')
            .then(response => response.blob())
            .then(blob => {
                let file = window.URL.createObjectURL(blob);
                window.location.assign(file);
            })
        },
    },
    async mounted(){
        const info = await fetch('http://localhost:3000/'+this.age+'/jars/'+this.id)
        .then(response => response.json())
        .catch(err => console.log(err.message))
        this.initData(info)
    },
    data () {
        return {
            titel: undefined,
            details: {},
            keys: undefined
        }
    }
}
</script>

<style scoped>

.wrapper {
    padding: 10px;
    max-width: 960px;
    margin: 0 auto;
    background-color: #eee;
    display: flex;
    flex-flow: row;
}

.left {
    text-align: center;
    flex: 3;
    /* background-color: red; */
    display: flex;
    flex-flow: column;
}

.left .button {
    display: flex;
    flex-flow: column;
}

.left .top{
    margin: 10px;
    flex: 3;
}

.left .top img {
    max-width: 250px;
    max-height: 250px;
}

.left .bottom {
    font-size: 16px;
    margin: 10px;
    flex: 1;
}

.left .button .link_3D{
    background-color: #ddd;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    color: black;
    font-size: 24px;
}
.left .button .link_3D:hover{
    background-color: grey;
}
.left .button button:hover{
    background-color: grey;
    cursor: pointer;
}
.left .button button {
    background-color: #ddd;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    color: black;
    border: none;
}



.right {
    flex: 2;
    border-left: 1px solid black;
    /* background-color: yellow; */
}
.right .details {
    margin-left: 5px;
}
.right h1 {
    text-align: center;
}
.right .key {
    font-weight: bold;
}
.right .value {
    font-style: italic;
}
.right p {
    margin: 0;
}
.right .pair {
    margin-top: 16px;
}



</style>