<template>
     <div class="sub_btn_container">
        <button v-on:click="scrollTo_vroeg" class="sub_btn">vroeg</button>
        <button v-on:click="scrollTo_midden" class="sub_btn">midden</button>
        <button v-on:click="scrollTo_laat" class="sub_btn">laat</button>
     </div>
</template>

<script>

//this component loads 3 small buttons. 
//A notification is given to the parent (via emit) as soon as one of the buttons is clicked. 
//The parent then handles a function that scrolls to a particular section. 

export default {
    data(){
        return{

        }
    },

    methods: {

        scrollTo_vroeg(){
            this.$emit('scrollTo_vroeg');
        },
        scrollTo_midden(){
            this.$emit('scrollTo_midden');
        },
        scrollTo_laat(){
            this.$emit('scrollTo_laat');
        },
    }
}
</script>

<style scoped>
.sub_btn_container{
    display: flex;
    flex-flow: row;
}
.side .sub_btn{
    cursor: pointer;
    width: 100%;
    border: 1px solid black;
    margin-top: 5px;
    padding: 0;
}
.side .sub_btn:hover{
    background: rgb(175, 182, 175)
}
</style>