<template>
  <div class="video-container">
    <div class="video-div">
      <img :src="tumbnail + id" alt="image" id="placeholder">
      <div class="title-slot">
        <slot>
        <!-- input will be shown here -->
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['id'],
  data(){
    return{
      tumbnail: 'http://localhost:3000/tumbnail/'
    }
  },
  mounted(){

  }
}
</script>

<style scoped>


.video-div{
  background-color: rgb(72, 121, 101);
  margin: 20px;
  border-radius: 25px;
  display: flex;
  flex-flow: column;
}

#placeholder{
  width: 300px;
  height: 200px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

}

.title-slot{
  border-top:  2px solid rgb(0, 0, 0);
  border-right:  2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  border-left:   2px solid  rgb(0, 0, 0);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}


</style>
