<template>
  <div class="backdrop" @click.self="closeModal">
    <div class="modal">
        <video id="vidId" width="720" height="540" controls>
          <source :src="vid+'/'+ video" type="video/mp4">
        </video>
    </div>
  </div>
</template>

<script>
export default {
  props: ["video"],
  data(){
    return{
      vid: 'http://localhost:3000/video'
    }
  }, 
  methods: {
    closeModal() {
      this.$emit('close')
    }
  } 
}
</script>

<style scoped>
  .modal {
    width: 400px;
    padding: 20px;
    margin: 200px auto;
    border-radius: 10px;
  }

  #vidId{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .backdrop {
    top: 0;
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: +1;
  }
</style>