<template>
<div>
	<div id="container"></div>
	<div v-if="showInfoBox" class="info">

		<h2>Titel</h2>
		<h3>{{this.characteristics.titel}}</h3>
		<h2>Datering</h2>
		<h3>{{this.characteristics.datering}}</h3>
		<h2>Vindplaats</h2>
		<h3>{{this.characteristics.vindplaats}}</h3>
		<h2>Vorm</h2>
		<h3>{{this.characteristics.vorm}}</h3>
		<h2>Versiering</h2>
		<h3>{{this.characteristics.versiering}}</h3>
		<h2>Omvang Pot</h2>
		<h3>{{this.characteristics.omvang_pot}}</h3>
	</div>
	<button class="bars" @click="toggleShowInfoBox()"><i class="fa fa-compress"></i></button>
</div>
</template>

<script>
import * as THREE from "three";

import * as OBJLoader from "three/examples/jsm/loaders/OBJLoader2Parallel.js"
import { TrackballControls } from 'three/examples/jsm/controls/TrackballControls'
import Stats from 'three/examples/jsm/libs/stats.module'

import * as OrbitControls from "three/examples/jsm/controls/OrbitControls.js";
import { DoubleSide, Side } from 'three';

export default {
    props: ['id', 'age'],
    data(){
        return {
            url: 'http://localhost:3000/' + this.age + '/jars/' + this.id + '/3d',
			showInfoBox: true,
			characteristics: {},
        }
    },
	methods: {
		toggleShowInfoBox(){
			this.showInfoBox = !this.showInfoBox;
		},
		initData(tmp_characteristics){
			this.characteristics = tmp_characteristics;
			console.log(this.characteristics)
		}
	},
    async mounted() {
		const characteristics = await fetch('http://localhost:3000/'+this.age+'/jars/'+this.id)
		.then(response => response.json())
		.catch(err => console.log(err.message))
		this.initData(characteristics)

		let div = document.getElementById('container');
		div.style.height = (innerHeight - 160) + 'px';
		//creating scene
        const scene = new THREE.Scene();
		const camera = new THREE.PerspectiveCamera( 75, div.clientWidth/div.clientHeight,0.1, 10000 );
		const renderer = new THREE.WebGLRenderer({alpha: true});
		scene.add(new THREE.AxesHelper(30))

		camera.position.z = 50;
		//renderer.setSize( window.innerWidth,window.innerHeight);
		renderer.setSize( div.clientWidth, div.clientHeight);
		div.appendChild(renderer.domElement);
		
		//controls
		const controls = new TrackballControls(camera, renderer.domElement);
		controls.noPan = true; //prevents the 3D object from moving on the x and y axis.

		const ambientLight = new THREE.AmbientLight()
		scene.add(ambientLight)

		//loading 3D object
		//var objLoader = new THREE.OBJLoader();
		var objLoader = new OBJLoader.OBJLoader2Parallel();
			objLoader.load(this.url, (object) => {
			// get the center of the object and substract it with the center of the object.
			// Centers the 3D object.
			console.log(object);	
			var box = new THREE.Box3();
			box.setFromObject(object);
			var center = new THREE.Vector3();
			box.getCenter(center);
			object.position.sub( center ); // center the model
		 	//camera.position.y += 100; //pottery (greater scale)
			scene.add(object);

			//When the inner side is not scanned, we use the outise to color up the inside. 
			object.traverse(function (node) {
				if (node.material) {
					node.material.side = THREE.DoubleSide;
				}
			})

		});

		window.addEventListener('resize', onWindowResize, false)
		function onWindowResize() {
			div.style.height = (innerHeight - 160) + 'px'; //adapt height of div when screen sizes change.
			console.log('grootte verandert')
			console.log('height div: ' + div.clientHeight)
			console.log('width div: ' + div.clientWidth)
    		camera.aspect = div.clientWidth / div.clientHeight
    		camera.updateProjectionMatrix()
   		 	renderer.setSize(div.clientWidth, div.clientHeight)
    		renderer.render(scene, camera);
		}

		//shows statsitcs (fps, MB, etc) in de top right screen.
		// const stats = Stats()
		// stats.dom.style.position = 'fixed';
		// div.appendChild(stats.dom)

		const animate = function () {
		requestAnimationFrame( animate );
		controls.update();
		renderer.render(scene, camera);
		//stats.update()
		};
		animate();
	}
}
</script>

<style scoped>
.info{
	margin: 15px;
	color: rgb(226, 219, 207);
	padding: 10px;
	border-radius: 4px;
	background: rgb(73, 78, 87);
	position: fixed;
	top: 160px;
	left: 0;
}
.bars{
	height: 30px;
	width: 30px;
	position: fixed;
	top: 160px;
	color: black;
	background: rgb(69, 73, 73);
}
.bars:hover {
	cursor: pointer;
}
#container{
	background: rgb(58, 76, 87);
	display: flex;
}

h2 {
	font-size: 24px;
}
h3 {
	font-weight: lighter;
	max-width: 300px;
	text-overflow: ellipsis;
}

</style>