<template>
<div>
    <div>
         <h2>upload video</h2>
                <form @submit.prevent enctype="multipart/form-data">
                <label>Titel: </label>
                <input type="text" v-model="title">

                <label>Tumbnail: </label>
                <input @change="onFileSelected" type="file">

                <label>Video: </label>
                <input @change="onFileSelected" type="file">

                <label>Beschrijving: </label>
                <input type="text" v-model="description">

                <select v-model="theme">
                    <option value="neolithicum">Neolithicum</option>
                    <option value="bronzeAge">bronstijd</option>
                    <option value="ironAge">ijzertijd</option>
                </select>

                <button @click="submitVid">upload video</button>
        </form>
    </div>
    <div>
        <h2>upload pot</h2>
        <form @submit.prevent enctype="multipart/form-data">
        <select v-model="period">
            <option value="neolithicum">Neolithicum</option>
            <option value="bronzeAge">bronstijd</option>
            <option value="ironAge">ijzertijd</option>
         </select>

            <label>Titel: </label>
            <input type="text" v-model="titleJar">

            <label>afbeelding: </label>
            <input @change="onJarFileSelected" type="file">

            <label>.obj bestand: </label>
            <input @change="onJarFileSelected" type="file">

            <label>(optioneel) video: </label>
            <input @change="onJarFileSelected" type="file">

            <label>Datering: </label>
            <input type="text" v-model="datering">

            <label>Vorm: </label>
            <input type="text" v-model="vorm">

            <label>Vindplaats: </label>
            <input type="text" v-model="vindplaats">

            <label>Omvang_pot: </label>
            <input type="text" v-model="omvang_pot">

            <label>Versiering: </label>
            <input type="text" v-model="versiering">

            <button @click="submitJar">upload pot</button>
        </form>
    </div>
</div>
</template>

<script>
export default {
    data(){
        return{
            //data for uploading a video
            title: '',
            description: '',
            tumbnail: '',
            video: '',
            theme: null,
            //data for uploading a jar 
            period: '',
            titleJar: '',
            imageJar: '',
            objFile: '',
            videoJar: null,
            datering: '',
            vorm:'',
            vindplaats: '',
            omvang_pot:'',
            versiering: ''
        }
    },
    methods: {
        onFileSelected(event){
            const file = event.target.files[0] //get the file
            const type = event.target.files[0].type //get the type of file


            //check the data type, if its an image its the tumbnail
            //if its an mp4 its the video (v-model doesnt support input file)
            if(!file || type === "image/jpeg"){
                this.tumbnail = file
            }else{
                this.video = file
            }
        },
        submitVid(){
            const formData = new FormData();

            //start building the formdata 
            formData.append("title", this.title)
            formData.append('tumbnail', this.tumbnail)
            formData.append('video', this.video)
            formData.append("description", this.description)
            formData.append("theme", this.theme)

            //POST the form data
            fetch('http://localhost:3000/uploadVideo', {
            method: "POST",
            body: formData
            })
            .catch(err => console.log(err.message))
        },
        onJarFileSelected(event){
            console.log(event)
            const file = event.target.files[0] //get the file
            const type = event.target.files[0].type //get the type of file

            if(!file || type === "image/jpeg"){//place image in placeholder
                this.imageJar = file
            }else if(type === "video/mp4"){//place video in placeholder
                this.videoJar = file
            }else if(type === ""){// OBJ file
                this.objFile = file
            }
        },
        submitJar(){
            const formData = new FormData()

            formData.append("period", this.period)
            formData.append("title", this.titleJar)
            formData.append("image", this.imageJar)
            formData.append("obj", this.objFile)

            formData.append("datering", this.datering)
            formData.append("vorm", this.vorm)
            formData.append("vindplaats", this.vindplaats)
            formData.append("omvang_pot", this.omvang_pot)
            formData.append("versiering", this.versiering)


            //only append a video if it the user added one
            if(this.videoJar){
                formData.append("video", this.videoJar)
            }

            fetch('http://192.168.1.139:3000/uploadJar', {
            method: "POST",
            body: formData
            })
            .catch(err => console.log(err.message))

            this.video= null
        }
    }

}
</script>

<style scoped>
form {
    max-width: 420px;
    margin: 30px auto;
    background: white;
    text-align: left;
    padding: 40px;
    border-radius: 10px;
}
input, select{
    display: block;
    padding: 10px 6px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    color:#555
} 

h2{
    border-bottom: black solid 2px;
    margin-right: 70px;
}
</style>