<template>

        <div class="container">

        <div class="side">
            <h2>PERIODEN</h2>

            <div class="period_btn">
            <button :class="{selected: select_neolithicum}" v-on:click="toggle_neolithicum" id="btn_steentijd">NEOLITHICUM</button>
                <!--paramaters are the HTML id's (where to scroll) -->
                <SubButtonsPeriod v-if="select_neolithicum" 
                 @scrollTo_vroeg="scrollTo('vroeg_neolithicum')"
                @scrollTo_midden="scrollTo('midden_neolithicum')"
                @scrollTo_laat="scrollTo('laat_neolithicum')"
                ></SubButtonsPeriod> 
            </div>

            <div class="period_btn">
            <button :class="{selected: select_bronstijd}" v-on:click="toggle_bronstijd" id="btn_bronstijd">BRONSTIJD</button>
                <SubButtonsPeriod v-if="select_bronstijd" 
                @scrollTo_vroeg="scrollTo('vroeg_bronstijd')"
                @scrollTo_midden="scrollTo('midden_bronstijd')"
                @scrollTo_laat="scrollTo('laat_bronstijd')"
                ></SubButtonsPeriod> 
            </div>

            <div class="period_btn">
            <button :class="{selected: select_ijzertijd}" v-on:click="toggle_ijzertijd" id="btn_ijzertijd">IJZERTIJD</button>
                <SubButtonsPeriod v-if="select_ijzertijd" 
                @scrollTo_vroeg="scrollTo('vroeg_ijzertijd')"
                @scrollTo_midden="scrollTo('midden_ijzertijd')"
                @scrollTo_laat="scrollTo('laat_ijzertijd')"
                ></SubButtonsPeriod> 
            </div>

        </div>

        <div class="content">

            <div class="not_selected" v-if="!select_neolithicum && !select_bronstijd && !select_ijzertijd">
                <h1>Er is niets geselecteerd</h1>
                <h3>Selecteer een periode</h3>
            </div>

            <div v-if="select_neolithicum" class="steentijd">
                <!-- <Box :age='neolithicum'></Box> -->
                <NeoBox></NeoBox>
            </div>

            <div v-if="select_bronstijd" class="bronstijd">
                <!-- <Box :age='bronzeAge'></Box> -->
                <BronzeBox></BronzeBox>
            </div>

            <div v-if="select_ijzertijd" class="ijzertijd">
                <!-- <Box :age='ironAge'></Box>  -->
                <IronBox></IronBox>
            </div>
         

        </div>

    </div>

</template>

<script>
    import NeoBox from '../components/NeoBox.vue'
    import BronzeBox from '../components/BronzeBox.vue'
    import IronBox from '../components/IronBox.vue'
    import SubButtonsPeriod from '../components/SubButtonsPeriod.vue'

    export default {
        components: { 
            NeoBox, BronzeBox, IronBox,
             SubButtonsPeriod
        },
        data(){
            return {
                test: [
                         {
                 title: 'vroeg', link: '/videos' 
                },
                {
                 title: 'midden', link: '/game' 
                },
                {
                 title: 'laat', link: '/quiz' 
                }
                ],
                //neolithicum
                //early
                bandKeramiek: 'bandKeramiek',
                laHoguette: 'haag',
                rössen: 'ross',
                swifterbant: 'swifty',
                //middle
                michelberg: 'michel',
                trechterbeker: 'beker',
                vlaardingen:'vlaardingen',
                stein: 'stein',
                //late
                enkelgraf: 'enkel',
                klokbeker: 'klokbeker',

                //bronze age
                //early
                wikkeldraad: 'wikkeldraad',
                //middle
                hilversumDrakenstein: 'hilversum',
                Kümmerkeramik: 'Kümmerkeramik ',
                HoogkarspelOud: 'Hoogkarspel oud',
                //late
                HoogkarspelJong: 'Hoogkarspel jong',
                gasteren: 'gasteren',
                Dubbelconische: 'Dubbelconische ',
                ZweihenkligeTerrine: 'Zweihenkige',
                kegelTrechter: 'kegel',
                Kerbschnitt: 'Kerbschnitt',

                //iron age
                //early 
                hallstad: 'hallstad',
                lappenschalen: 'lappenschalen',
                Schragrand: 'Schrägrand', 
                Harpstedt: 'Harpstedt',
                //middle
                laTeneVroeg: 'la tene laat',
                ruinenWommels: 'wommels',
                marne: 'marne',
                //late
                laTeneLaat: 'la tene vroeg',
                streepband: 'streepband',
                terpaardewerk: 'ter paard',
                briquette: 'briquette',

                //Each period is (not) visible as default.
                select_neolithicum: true,
                select_bronstijd: true,
                select_ijzertijd: true,
            }
        },
        methods: {
            //This function changes a boolean value of the different periods. 
            //A component Box is created based on this value. 
            toggle_neolithicum(){
                this.select_neolithicum = !this.select_neolithicum;
            },
            toggle_bronstijd(){
                this.select_bronstijd = !this.select_bronstijd;
            },
            toggle_ijzertijd(){
                this.select_ijzertijd = !this.select_ijzertijd;
            },

            scrollTo(value){
                const element = document.getElementById(value);
                element.scrollIntoView({behavior: 'smooth'});
            },
        },

    }
</script>




<style scoped>
* {
    font-family: 'calibri';
    box-sizing: border-box;
}

.container {    
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    justify-content: center;
}
.side h2{
    margin-right: 0;
}

.side {
    padding: 0 20px;
    text-align: center;
    height: fit-content;
    max-width: 200px;
    flex-flow: column;
    display: flex;    
    position: sticky;
    top: 0px;
    align-items: center;
    background: white;
}
.period_btn{
    width: 100%;
    margin-bottom: 15px;
}
.side button {
    width: 100%;
    cursor: pointer;
    margin: 0 15px 0 0;
    padding: 20px;
    background: #eee;
}





.test{
    cursor: pointer;
    min-width: fit-content;
    width: 100%;
    margin: 5px;
    padding: 20px;
    background: #eee;
}

.side button.selected {
    background: rgb(72, 121, 101);
    color: white;
}

.content {
    height: 100%;
    width: 1400px
}

.content div {
    margin-bottom: 30px;
    width: 100%;
}

.not_selected {
    text-align: center;
    border: 1px solid black;
    margin: 20px;
}
</style>



























<!--<template>
    
        <div class="container">

        <div class="box">
            <div class="side">
                <div>
                    <p>Kleur</p>
                    <input type="range" min="1" max="50" value="1" class="slider">
                </div>
                <div>
                    <p>Leeftijd</p>
                    <input type="range" min="1" max="50" value="1" class="slider">
                </div>
                <div>
                    <p>Conditie</p>
                    <input type="range" min="1" max="50" value="1" class="slider">
                </div>
                <div>
                    <p>Waarde</p>
                    <input type="range" min="1" max="50" value="1" class="slider">
                </div>
            </div>

                <div class="content">
                    <div class="item">
                        <p>Pot 1</p>
                        <p>Pot 1</p>
                        <p>Pot 1</p>
                    </div>
                    <div class="item">Pot 2</div>
                    <div class="item">Pot 3</div>
                    <div class="item">Pot 4</div>
                    <div class="item">Pot 5</div>
                    <div class="item">Pot 6</div>
                    <div class="item">Pot 7</div>
                    <div class="item">Pot 8</div>
                    <div class="item">Pot 9</div>
                    <div class="item">Pot 10</div>
                    <div class="item">Pot 11</div>
                    <div class="item">Pot 12</div>
                    <div class="item">Pot 13</div>
                    <div class="item">Pot 14</div>
                    <div class="item">Pot 15</div>
                    <div class="item">Pot 16</div>
                    <div class="item">Pot 17</div>
                    <div class="item">Pot 18</div>
                </div>
    </div>

        <div class="footer">Footer</div>

    </div>
 
</template> 

<style scoped>

/* hide scrollbar inside content
.content::-webkit-scrollbar {
  display: none;
} */


/* Outer Container */

/* .container {
    max-height: 100%;
    display: flex;
    flex-flow: column;
} */

/* Content and Side */

/* Outer flex-box */
/* .box {
    overflow: hidden;
    display: flex;
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 1;
} */
/* Side with sliders */
/* .side {
    flex: 1;
    min-width: 250px;
    max-width: 400px;
    background: #fff;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
} */
/* .side div {
    margin: 0;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    background: #eee;
} */

/* Scrollable box with items */
/* .content {
    flex: 1;
    overflow: scroll;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    background: lightblue;
} */
/* .content .item{
    display: flex;
    flex-flow: column;
    height: 350px;
    width: 350px;
    border: 2px solid black;
    margin: 10px; */

    /* todo: how should each items content presents itself? */
    /* justify-content: center;
    align-items: center;
} */

/* .item p {
    background: red;
    width: 50px;
} */

/* Footer */
/* .footer {
    flex-grow: 0;
    flex-basis: 100px;
    flex-shrink: 0;
    background: green;
}
</style> -->