<template>
<body>
    <div class="test">
        <!-- <button class="bars" @click="toggleNav()"><i class="fa fa-arrows-v"></i></button> -->
         
        <div class="slidecontainer">
        <p class="periodInfo">{{BC}}</p>  
          <input v-model="yearSlider" type="range" min="6000" max="12000" class="slider" @change="setYear">
         </div>  
        

    
    <div class="container">
    
            <div class="content">
                <div v-if="period === 'neolithicum'">
                    <Neo />
                </div>
                <div v-if="period === 'bronzeAge'">
                    <BronzeAge />
                </div>
                <div v-if="period === 'ironAge'">
                    <IronAge />
                </div>
            </div>


            <h1>Vragen over 3D-scans</h1>
            <h2>Ga naar het archief om potten in 3D te bekijken</h2>
            <QuizInfoBox 
              :question=" 'Doen: Kijk naar scan *OKT-250*. Uit welke fase van de Enkelgrafcultuur dateert deze pot?' "

              :answer=" ' De laatste fase. Dit is te zien aan de methode van versiering. De pot is geheel versierd en behoort dus tot het All Over Ornamented (AOO) dat in de laatste fase van de Enkelgrafcultuur geproduceerd werd'">
            </QuizInfoBox>

            <QuizInfoBox 
              :question=" 'Doen: Kijk naar scan POM-169. Van welke methode is gebruik gemaakt bij het maken van de versiering op de buik van deze trechterbeker?' "

              :answer=" ' Het gaat hier om diepsteeklijnen. Dit zijn diepe groeven met een zaagtandvormige bodem. Deze wordt aangebracht met een puntig stokje die schuin in de klei wordt gestoken, vervolgens wordt deze deels teruggetrokken en er weer opnieuw ingestoken. '">
            </QuizInfoBox>

            <QuizInfoBox 
              :question=" 'Welke versieringen komen voor op OKT-236 voor?' "

              :answer=" ' De hals en buik zijn versierd met een WKD-stempel in verticale lijnen. Op de bodem van de pot zit een aantal verticale rijen van vingertopindrukken. '">
            </QuizInfoBox>

            <QuizInfoBox 
              :question=" 'Wat voor soort aardewerk is pot OKT-112?' "

              :answer=" 'Vermoedelijk een Harpstedt pot uit de La Tène cultuur. '">
            </QuizInfoBox>
        

        <div class="footer">
            <router-link class="loginBtn" :to="{name: 'Login'}">Login</router-link>
        </div>
       
    </div>
    </div>


</body>
</template>


<script>
import QuizInfoBox from '../components/quiz/QuizInfoBox.vue'
import Neo from '../components/periods/Neo.vue'
import BronzeAge from '../components/periods/BronzeAge.vue'
import IronAge from '../components/periods/IronAge.vue'

export default {
    name: 'Home',
    components: { QuizInfoBox, Neo, BronzeAge, IronAge },
    data () {
        return {
            period: 'neolithicum',
            yearSlider: '12000',
            yearCount: '4000',
            BC: "Neolithicum",
        }
    },
    methods: {
            //toggleNav and hideNav are both calling for functions in the App.vue (root component).
            toggleNav(){
                this.$root.toggleNav()
            },
            hideNav(){
                this.$root.hideNav();
            },

        togglePeriod(){
            //if the slider is past 2/3 of the total length switch to ironAge 
            if(this.yearSlider < 8_000){
                this.period = 'ironAge'
                this.BC = "ijzertijd"
                //if the slider past 1/3 siwtch to bronzeAge
            }else if(this.yearSlider < 10_000){
                this.period = 'bronzeAge'
                this.BC = "Bronstijd"
            }else{
                //else it's the stoneAge
                this.period = 'neolithicum'
                this.BC = "Neolithicum"
            }
        },
        setYear(){

            //todo: 5500 BC inplaats van 4000
            let year = this.yearSlider
            // the slider is mirrored with css
            // so wat appears to be the end of the slider
            // is actually the beginning
            // this is why the code seems wacky

            // check if the year has a value hight then 6000
            // 6000 would be the starting value of the slider
            if(year > 6_000){
                //subtract 8000 so that the starting point of the earth
                //comes out at 4000 BC
                year = (parseInt(year) - 8000)
            }
            
            // if the years start going negative multpli with a negative
            // to create a postive integer that corresponds with the years
            //0 AD to 2000 AD
            if(year < 0){
                year = year * -1
            }
            //call togglePeriod to check wether or not new 
            //information has to be shown
            this.togglePeriod()
            this.yearCount = year 
        }
    },
    // Mounted: When this component is mounted to the DOM.
    // For example: load 10.000 facts and only use 3?
    // Solution: create API call that filters the array before fetching data.
    // Code below and refrehs method is only for demonstration.
    mounted () {
        //by default, the home page hides the navbar.
        this.hideNav();
    },
    //called when data changes.
    beforeUpdate(){
        this.setYear();
    }
    
}
</script>

<style scoped>

.periodInfo{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: scale(-1, 1)
}
.bars{
    width: 50px;
    padding: 12px;
    border: none;
    background: #aaa;
    cursor: pointer;
}

.slidecontainer {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    display: flex;
    justify-content: center;
    
    position: sticky;
    top: 0;
}
.slider {
  -webkit-appearance: none;
  width: 80vw;
  height: 35px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 35px;
  background: #04AA6D;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.container {
    text-align: center;
    background: rgb(224, 224, 224);
}
.content {
    max-width: 100vw;
    height: fit-content;
    margin: 0 auto;
    border: 1px solid rgb(63, 63, 63);
    background: white;
}





.footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 10px;
}

.footer .loginBtn {
    padding: 10px;
    color: black;
    text-decoration: none;
}


 /* On smaller screen sizes the side and content boxes are shown in a column */
@media (max-width: 600px) {
    .box{
        flex-flow: column;
    }
}


</style>
