<template>
    <div class="wrapper">
        <div>
            <h1>Login</h1>
            <p>Alleen voor beheerders, voor het uploaden van potten en video's.</p>
        </div>

        <div class="login_box">
            <div>
              <label for="username">Gebruikersnaam</label>
              <input type="text" name="username" placeholder="Voer hier uw gebruikersnaam in" required>
            </div>

            <div>
              <label for="password">Wachtwoord</label>
              <input type="password" name="password" placeholder="Voer hier uw wachtwoord in" required>
            </div>
        
            <router-link class="login_btn" :to="{name: 'AddPage'}">Login</router-link>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>

.wrapper {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
}

.login_box {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding: 32px;
    text-align: left;
    border-radius: 4px;
    margin-top: 10px;
    width: 600px;
    height: 350px;
    border: 1px solid black;
    background: white;
}

.login_box div {
    display: flex;
    flex-flow: column;
}

label {
    margin-left: 12px;
    color: black;
}
input {
    padding: 12px;
    background: #eee;
    border-radius: 4px;
}

.login_btn {
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    width: 100px;
    align-self: flex-end;
    background: #eee;
    border-radius: 4px;
    border: none;
}

.login_btn:hover {
    cursor: pointer;
    background: #aaa;
}
</style>