<template>
  <div class="wrapper">
    <div>
     <h1>404</h1>
     <h2>Deze pagina kon niet opgegraven worden.</h2>
    </div>
    <img src="../../public/assets/miner.png" alt="miner" class="miner">
  </div>
</template>



<style scoped>

.wrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 64px;
}
.miner {
  max-width: 300px;
}
</style>