<template>
    <div class="body">
      <div class="showVid" v-if="showVideo" @click="showVideo = false" >
        <VideoModal :video="vid"></VideoModal>
      </div>
      
      <div class="container">
           <div class="side">
            <h2>THEMA'S</h2>
            <button @click="init" v-on:click="all_selected" >ALL VIDEOS</button>
            <button @click="fetchByTheme('neolithicum')" v-on:click="toggle_neolithicum" :class="{selected: select_neolithicum}">NEOLITHICUM</button>
            <button @click="fetchByTheme('bronzeAge')" v-on:click="toggle_bronstijd" :class="{selected: select_bronstijd}">BRONSTIJD</button>
            <button @click="fetchByTheme('ironAge')" v-on:click="toggle_ijzertijd" :class="{selected: select_ijzertijd}">IJZERTIJD</button>
        </div>
        <div class="list-div">
      
            <div class="li" v-for="video in videos" :key="video.id">
                <div>
                    <VideoComp @click="toggleVideo(video.id, video.tubmnail)" :id="video.id">
                      <div class="info-div">
                            <h3>
                            {{video.title}}
                        </h3>
                        <p>
                            {{video.description}}
                        </p>
                      </div>
                    </VideoComp>
                </div>
            </div>
      
        </div>
      </div>
      
    </div>

</template>

<script>
import VideoComp from '../components/VideoComp'
import VideoModal from '../components/videoModal'
export default {
  name: 'Videos',
  components: { VideoComp, VideoModal },
  data(){
      return{
        showVideo: false,
        videos: [],
        vid: '',
        tumbnail: '',
        select_bronstijd: false,
        select_neolithicum:false,
        select_ijzertijd: false
      }
  },
  mounted(){
    this.init()
  },
  methods: {
    init(){
      fetch("http://localhost:3000/video")
      .then(response => response.json())
      .then(data => {
      this.videos = data[0]
    })
    .catch(err => console.log(err.message))
    },
    //activates the modal in which the video will be shown
    //and places the route to the video in variable vid(will send to videoModal as a prop) 
    toggleVideo(e, v){
        this.showVideo = !this.showVideo
        this.vid = e
        this.tumbnail = v
    }
    ,
    playVideo(e){
        this.video = this.videos.find(
            video => {return video.id === e}
        )
    },
    fetchByTheme(theme){
      fetch("http://localhost:3000/videos/" + theme)
      .then(response => response.json())
      .then(data => {
      this.videos = data[0]
    })
    .catch(err => console.log(err.message))
      let result = []
      this.videos.forEach(element => {
        if(element.theme === theme){
          result.push(element)
        }
      });
      this.videos = result
    },
    //This function changes a boolean value of the different periods. 
    //A component Box is created based on this value. 
    toggle_neolithicum(){
        this.select_neolithicum = !this.select_neolithicum;
        this.select_bronstijd = false
        this.select_ijzertijd = false
    },
    toggle_bronstijd(){
        this.select_bronstijd = !this.select_bronstijd;
        this.select_neolithicum = false                
        this.select_ijzertijd = false

    },
    toggle_ijzertijd(){
      this.select_ijzertijd = !this.select_ijzertijd;
      this.select_neolithicum = false  
      this.select_bronstijd = false              
    },
    all_selected(){
      this.select_neolithicum = false  
      this.select_bronstijd = false
      this.select_ijzertijd = false
    }
  }
}
</script>

<style scoped>

  .container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
  }

  .li{
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    margin: none;
    padding: none;
  }

  .side {
    padding: 0 20px;
    text-align: center;
    height: fit-content;
    max-width: 200px;
    flex-flow: column;
    display: flex;
    position: sticky;
    top: 0px;
    align-items: center;
    background: white;
  }

.side button {
    cursor: pointer;
    width: 100%;
    margin: 5px;
    padding: 20px;
    background: #eee
  }

.side button.selected {
    background-color: rgb(72, 121, 101);
    color: white;
  }

  .list-div{
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
  }

</style>