<template>
  <div>
    <div class="container">
      <img id="main-image"
        :src=" require('../../../public/assets/homepage/bronzeAge/bronstijd1.jpg')" alt="img"/>
      <div class="wrapper">
        <h1>De Bronstijd</h1>
        <div class="vroege-bronstijd">
          <h2>De vroege Bronstijd (2000 – 1800 v.Chr.) </h2>

          <br>

          <p>
            De Vroege Bronstijd wordt gekarakteriseerd door de eerste vondsten van bronzen objecten, voornamelijk bijlen, maar ook priemen, sikkels en wapentuig (zwaarden, speer- en pijlpunten, dolken en messen). De bronzen voorwerpen worden aangeleverd vanuit Centraal-Europa, Engeland en Ierland, en Frankrijk. 
          </p>

          <br>

          <p>
            In de Vroege Bronstijd wordt nog steeds bekeraardewerk gebruik versierd met banden en zigzagpatronen. In plaats van spatelversieringen wordt in deze periode echter gebruik gemaakt van wikkeldraadstempels. Deze stempels werden gemaakt door een stokje te omwikkelen met een draadje. Door zo’n stempel in de natte klei te drukken worden de indrukken van de draadjes zichtbaar als verticale indrukken. De stokjes zijn dan nog vaagjes te zien als horizontale lijnen.  We noemen het aardewerk uit deze periode dan ook wikkeldraadaardewerk. Nederzettingen tijdens deze periode zijn schaars. Het betreft boerenerven met tweeschepige, rechthoekige huizen van verschillende lengten (15-30 m). Begravingen vinden nog steeds plaats als lijkbijzettingen onder grafheuvels. Ongeveer 10 – 15% van de bevolking is onder een grafheuvel begraven.Het grafritueel is minder formeel dan in de voorgaande perioden. Tijdens deze periode waren grafgiften schaars, soms werd een wikkeldraadbeker, vuurstenen mesje of Scandinavische dolk meegegeven. Bronzen grafgiften zijn zeer zeldzaam. Bronzen voorwerpen worden als grafgiften meegegeven aan de doden. Ook komen ze voor in depots of hoards
          </p>

          <br>

          <div class="wikkeldraadaardewerk">

            <br>

            <p>
              Het verspreidingsgebied van het Wikkeldraadaardwerk (WKD) valt grotendeels in Nederland, Noordwest- en Midden-Duitsland. Er is sprake van zogeheten fijne wikkeldraad- en grove wikkeldraadversiering. Dat onderscheid houdt verband met de fijnheid van de windingen van de draad op het stokje van de wikkeldraadstempel. Vaak komt de fijne versiering voor op kleine potten en de grove op de grote. Beide kunnen in eenzelfde context worden aangetroffen, bijv. als een kleine pot wordt afgedekt door een grote in een afvalkuil. 
            </p>

            <br>

            <p>
              Er is ook een fasering van het Wikkeldraadaardewerk in vroeg en laat. Meestal heeft het vroege WKD-aardewerk een zwak S-vormig profiel, met soms een buikknik. Het aardewerk heeft meestal een standvoet. Bekend bij dit aardewerk zijn de gaatjes onder de rand. De meest belangrijke motieven bij dit aardewerk zijn:  horizontale lijnen, enkel- en meervoudige horizontale zigzagmotieven, horizontale rijen korte, verticale indrukjes. Ook komen voor: ovale indrukjes, nagelindrukken en vingertopindrukken voor. De gebruikte magering voor dit aardewerk is steengruismagering, zowel met fijn gebroken als grof steengruis.
            </p>

            
            <div>
              <img src="../../../public/assets/homepage/bronzeAge/home/Hvroeg1.jpg" alt="img">
            </div>

            <br>

            <p>
              Het late WKD-aardewerk heeft vaak een eivormig potlichaam met hoge hals insnoering. Dit aardewerk heeft een smalle voet met een uitstaande hals. Net zoals het vroege-WKD aardewerk komen gaatjes onder de rand voor. De versiering wordt altijd aangebracht vanaf de hals tot aan de voet. Tijdens de late WKD-aardewerkcultuur komt ook versiering aan de binnenrand van de hals voor. De versiering bestaat uit horizontale lijnen met daarbij gebruikt stempelindrukken. De binnenrandversiering die bij dit aardewerk voorkomt is gemaakt met touwindrukken of het indrukken van een WKD-stempel in verschillende vormen, waaronder zigzaglijnen, verticale lijnen en horizontale lijnen.
            </p>

            <div>
              <img src="../../../public/assets/homepage/bronzeAge/home/Hvroeg2.jpg" alt="img">
            </div>

          </div>
        <!-- einde vroege bronstijd -->
        </div>

        <QuizInfoBox 
          :question=" 'Wat zijn de verschillen van vorm tussen vroege- en late-WKD aardewerk?' "

          :answer=" 'De verschillen tussen vroege- en late-WKD aardewerk is dat het vroege WKD-aardewerk een zwak S-vormig profiel met soms een buikknik heeft. Het late WKD-aardewerk heeft een eivormig lichaam met hoge hals insnoering. ' ">
        </QuizInfoBox>

        <QuizInfoBox 
          :question=" 'Welke soorten versieringen komen voor bij de Wikkeldraadcultuur?' "

          :answer=" 'De versiering bestaat uit stempelindrukken, touwindrukken, nagelindrukken of vingertopindrukken. Deze komen voor in horizontale, verticale of zigzaglijnen voor.' ">
        </QuizInfoBox>

        <div class="midden-bronstijd">

        <h2>Midden-Bronstijd (1800 – 1050 v. Chr.)</h2>  

        <p>
          De Midden-Bronstijd wordt gekenmerkt door grote regionale verschillen tussen Zuid-, Noord- en West-Nederland. Dit is zichtbaar in de verschillen tussen de huisplattegronden, begravingen, het aardewerk en de herkomst van bronzen voorwerpen. In het zuiden zijn er uitwisselingsnetwerken met Groot-Brittannië, Noordwest-Frankrijk en België. In deze regio is sprake van de Hilversum-cultuur in de oudste fase (Midden-Bronstijd A: 1800-1600 v. Chr.) met het zogeheten Hilversum-aardewerk, versierd met touwindrukken, spatelindrukken en lijnversiering op de bovenste helft van de potwanden. Dit aardewerk lijkt heel sterk op het gelijktijdig aardewerk van de Wessex-culture in Zuidoost-Engeland en waarschijnlijk waren er ook nauwe contacten tussen deze regio’s in deze periode. In deze oudste fase stammen veel vondsten uit graven en depots. In nederzettingen worden vaak afvalkuilen gevonden met veel vondstmateriaal, maar duidelijk herkenbare huisplattegronden ontbreken.
        </p>

        <br>

        <p>
          In de gevorderde fase van de Midden-Bronstijd (B: 1600-1050 v. Chr.) wordt het aardewerk minder versierd en worden de emmervormige potten groter, dikwandig en slecht gebakken met grove steengruismagering. Eerst is sprake van Drakensteinaardewerk waar de versiering nog sporadisch voorkomt in de vorm van een enkele rij met vingertopindrukken en een stafband. Aan het einde van de Midden-Bronstijd worden potten van het type Laren gemaakt: eenvoudige onversierde potten met vlakke bodems en schuin, rechtopstaande wanden, vaak aangeduid met de term “lijkbussen”. 
        </p>

        <br>

        <p>
          In het noorden van Nederland is sprake van uitwisseling met Noord-Duitsland en Scandinavië door de boerengemeenschappen van de Elp-cultuur (vanaf ca. 1300 v. Chr.). Het onversierde, dikwandige aardewerk met emmervormige potten hoort toe tot de Noord-Duitse groep van de zogeheten Kümmerkeramik.
        </p>

        <br>

        <p>
          In West-Friesland, tenslotte is sprake van de Hoogkarspel-cultuur die sterk gerelateerd is aan de Elpcultuur. De variatie aan potvormen is groter, maar in baksel en onversierdheid is de gelijkenis met het Elpaardewerk groot. 
        </p>

        <br>

        <p>
          Bijzonder voor deze gevorderde fase van de Midden-Bronstijd is dat het oprichten van nieuwe grafheuvels sterk afneemt. Grafheuvels worden vaak ook geïncorporeerd op boerenerven en door de bewoners gebruikt voor nabijzettingen. Er is dan sprake van familiegrafheuvels. Verder ontstaat in deze periode gestandaardiseerde  drieschepige langhuizen of woonstalboerderijen met een zeer regelmatige plattegrond (formaat 6x25/30 m). Er zijn aanwijzingen dat deze huizen door samenwerking tussen verschillende families binnen een gemeenschap zijn gebouwd. Op de palen van één huis kunnen sporen van verschillende bronzen bijlen voorkomen. Gedacht wordt aan het bouwen door Amish-gemeenschappen in de huidige Verenigde Staten.
        </p>

        <div class="hilversumaardewerk">
          <h3>Hilversumaardewerk (1800-1600 v. Chr.): Zuid-Nederland</h3>
          
          <br>

          <p>
            Het Hilversumaardewerk is sinds de jaren 50 herkend als een nieuw type. Opvallend is dat de vroegste potten niet meer tot het bekeraardewerk behoort, maar er nieuwe, vaak voorraadpotachtige vormen ontstaan (grote emmer-, eivormige en dubbelkonische potten) met dikke wanden en grove steengruismagering. Op de oudste potten komt nog wikkeldraadversiering voor, vaak gecombineerd met touwversiering en nagelindrukken. Soms is de versiering op de hals aangebracht, maar ook op de rand en aan de binnenzijde van de rand. 
          </p>

                
          <div>
            <img src="../../../public/assets/homepage/bronzeAge/home/Hmidden1.jpg" alt="img">
          </div>

        </div>

        <div class="drakensteinaardewerk">
          <h3>Drakensteinaardewerk en Larenaardewerk (1600-1050 v. Chr.): Zuid-Nederland</h3>

          <br>

          <p>
            In de volgende fase van de Midden-Bronstijd (B) komt het Drakensteinaardewerk in de mode. De potten van dit aardewerk hebben een afgeknotte peervorm of een emmervorm, een naar binnen afgeschuinde rand en vaak een stafband op de schouder van de pot. Later verdwijnen de stafbanden en beperkt de versiering zich soms nog slechts door een rij van vingertopindrukken langs de afgeronde rand (Larenaardewerk). Het gaat hierbij om ton- of emmervormige potten. 
          </p>

          <div>
            <img src="../../../public/assets/homepage/bronzeAge/home/Hmidden2.jpg" alt="img">
          </div>

          <div>
            <img src="../../../public/assets/homepage/bronzeAge/home/Hmidden3.jpg" alt="img">
          </div>

        </div>

        <div class="elpaardewerk">
          <h3>Elpaardewerk (Kümmerkeramik) en Hoogkarpselaardewerk (1300-1050 v. Chr.): Noord-en West-Nederland</h3>

          <br>

          <p>
            Het Elpaardewerk of Kümmerkeramik uit Nood-Nederland is zeer eenvoudig van vorm. Het heeft een ton- en emmervorm. Voor dit aardewerk is gebruik gemaakt van grove maaksel met daarin als magering met gebroken kwarts. Het aardewerk heeft dikke randen en een dikke bodem van enkele centimeters dikte. De potten zijn vaak onversierd. Soms zijn ze versierd met nagel- en vingertopindrukken.  Het aardewerk lijkt sterk op potten van het type Laren in Zuid-Nederland.
          </p>

          <br>

          <p>
            Het hoogkarspelaardewerk is in de oudste fase (Hoogkarspel-Oud) evenals het Elpaardewerk veelal onversierd op vingertopindrukken na die soms onder de rand voorkomen. Het gaat hierbij vooral om ton- en emmervormige potten, maar ook bakjes komen voor. Het is dikwandig en grof aardewerk met grove steengruis- en potgruismagering, waardoor de wand van de pot ruw aanvoelt. Ook komen er stafbanden voor.
          </p>

          <div>
            <img src="../../../public/assets/homepage/bronzeAge/home/Hmidden4.jpg" alt="img">
          </div>

        </div>
        <!-- einde midden bronstijd -->
        </div>

        <QuizInfoBox 
          :question=" 'Welke culturen komen voor in de Midden-Bronstijd?'"

          :answer=" 'In het Zuiden van Nederland komt de Hilversum-cultuur voor met uitwisselingsnetwerken met Groot-Brittannië, Noordwest-Frankrijk en België. In het Noorden komt de Elp-Cultuur voor met uitwisselingsnetwerken met Noord-Duitsland en Scandinavië en in West-Friesland komt de Hoogkarspel-cultuur voor.' ">
        </QuizInfoBox>

        <QuizInfoBox 
          :question=" 'Welk aardewerk komt voor in de Hilversum-cultuur?'"

          :answer=" 'In de Hilversum-cultuur komt het Hilversum-aardewerk, Drakenstein-aardewerk en Larenaardewerk. Dit is grofgemagerd aardewerk met dubbelconische potten. Deze potten komen versierd en onversierd voor.' ">
        </QuizInfoBox>

        <QuizInfoBox 
          :question=" 'Wat was het grafritueel van de Midden-Bronstijd?' "

          :answer=" 'Cremeren kwam langzaamaan op gang. De grafheuvels werden opgebouwd uit plaggen. De doden werden in de flanken van de heuvel begraven. Dit wordt ook wel een familiegraf genoemd. De heuvels zijn omringd met palen.' ">
        </QuizInfoBox>

        <div class="late-bronstijd">
          <p>
            In de Late Bronstijd is sprake van grote veranderingen in het grafritueel. Vanaf deze periode worden de crematieresten van elke dode apart bijgezet in een ingegraven grafurn die wordt afegdekt met een kleine heuvel. De crematiegraven worden opgenomen in uitgestrekte urnenvelden die gedurende honderden jaren door gemeenschappen in de directe omgeving worden gebruikt. In Zuid-en Midden-Nederland vinden deze veranderingen in het grafritueel later plaats dan in het noorden. De urnen in het noorden zijn veelal onversierd. In het zuiden en midden van Nederland komen ook versierde potten voor, bijv. potten met uitgesneden versiering (het zogeheten Kerbschnitt-aardewerk). De urnen zijn vaak dunwandig en er is sprake van verschillend potvormen die mogelijk in massa zijn gemaakt. Deels lijken deze urntypen gemaakt in Nederland zelf, maar mogelijk ook in de westelijke provincies van Duitsland.
          </p>

          <br>

          <p>
            In West-Friesland wordt het Hoogkarspel-Oud aardewerk vervangen door het Hoogkarspel-Jong aardewerk. 
          </p>

          <div class="kerbsnitt-aardewerk">
            
            <h3>Kerbschnitt-aardewerk (1200-800 v. Chr.): Zuid-en Midden-Nederland</h3>

            <br>

            <p>
              Dit aardewerk is bekend om de grote variatie aan potvormen en de uitbundige versiering uitgesneden met een mes in de lederharde klei. Meestal is sprake van geometrische patronen en motieven, maar er zijn ook voorbeelden van golvende banden. Er zijn aanwijzingen dat de messneden zijn opgevuld met wit botpasta (incrustatie). Ook komt versiering met vingertopindrukken, groeven, nagelindrukken en stafbanden voor.  Behalve grote potten zijn er ook kleine schaaltjes, open schalen en drieledige potvormen met korte hals.
            </p>

            <div>
              <img src="../../../public/assets/homepage/bronzeAge/home/Hlaat1.jpg" alt="img">
            </div>

          </div>

          <div class="hoogkarspel-jong-aardewerk">

            <h3>Hoogkarspel-Jong aardewerk (1050-800 v. Chr.): Noord-Nederland</h3>

            <br>

            <p>
              Het Hoogkarspel-Jong aardewerk kent een vroege en een late fase. In de vroegste fase (1050-950 v. Chr.) is veelal onversierd en lijkt een voortzettin g te zijn van het Hoogkarspel-Oud aardewerk. In de late fase (950-800 v. Chr.) is wel sprake van versiering in de vorm van vingertopversiering op de rand en ook op andere delen van de pot. Ook versiering met rietstengelindrukken en vogelbotindrukken komen voor en de versiering is soms op de hele potwand zichtbaar. Verder is sprake met een grote variatie aan potvormen, van voorraadpotten, kommen en schalen, maar ook lepels. De buitenwanden van de potten zijn vaak glad gemaakt of gepolijst. De klei is gemagerd met fijn steengruis.
            </p>

            <div>
              <img src="../../../public/assets/homepage/bronzeAge/home/Hlaat2.jpg" alt="img">
            </div>
          </div>
        <!-- einde late bronstijd -->
        </div>

        <QuizInfoBox 
          :question=" 'Wat is de nieuwe versiering die voorkomt in de Late-Bronstijd?' "

          :answer=" 'Ingesneden versieringen met een mes. Deze motieven waren vaak geometrisch. De messneden werden vaak opgevuld met witte pasta van botmateriaal. Dit komt vaak voor bij het Kerbschnitt-aardewerk.' ">
        </QuizInfoBox>

        <QuizInfoBox 
          :question=" 'Welke versieringen komen voor bij het Hoogkarspelaardewerk?' "

          :answer=" 'Bij dit aardewerk komt aardewerk lepels en napjes versiering voor, versiering met rietstengelindrukken of vogelbotindrukken, en Kerbschnittversiering met de ingesneden versieringen.' ">
        </QuizInfoBox>

      </div>
    </div>
  </div>
</template>

<script>
import QuizInfoBox from '../quiz/QuizInfoBox.vue'
export default {
  components: {
    QuizInfoBox,
  },
  data() {
    return {};
  },
};
</script>

<style scoped>
#main-image{
  width: 100vw;
  object-fit: contain;
  align-self: center;
} 

.container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column;
}

.wrapper{
  max-width: 1400px;
  margin: 0 auto;
}

h1, h2{
  background-color: rgb(72, 121, 101);
  padding: 20px;
}

h3{
  background-color: rgb(72, 121, 101);
  padding: 10px;
}
</style>