<template>
  <div>
    <div class="container">
      <img
      id="main-image"
        :src="
          require('../../../public/assets/homepage/neolithicum/neolithicum' +
            this.img_id +
            '.jpg')
        "
        alt="img"
      />
      <div class="wrapper">
        <h1>Het Neolithicum</h1>
        <div class="vroeg-neoliticum">
          <h2>Vroeg Neolithicum (5300 - 4200 v. Chr.)</h2>
          <p>
            Aan het begin van het vroeg neolithicum komen de eerste boeren naar Zuid-Limburg, hoewel ze eigen voedsel verbouwen zijn ze nog steeds afhankelijk van jacht en verzamelen. Deze vroege boeren behoren tot de Lineaire Bandkeramiek. Deze cultuur is de voorganger van de, La Hoguette, Rössen- en Swifterbantcultuur. Deze culturen produceren ook het vroegst bekende aardewerk van Nederland waarbij al snel verschillen zichtbaar zijn tussen volledig versierd aardewerk tot geen versiering. 
          </p>
          <div class="lineaire-bankeramiek">
            <h3>Lineaire Bankeramiek (5300 - 4900 v. Chr.)</h3>

            <p>
              Het Lineaire Bandkeramiek staat bekend om de decoratie waar ook de naam van is afgeleid. Deze decoratie bestond uit lijnmotieven in boog- of spiraalvormen. Deze motieven veranderen in de loop der jaren, op basis hiervan is het aardewerk in drie fasen opgedeeld.  In de vroegste fase bestaat de decoratie uit eenvoudige en diepe lijnmotieven, vervolgens worden dit lange spiraalvormige of hoekige banden. In de laatste fase worden deze motieven complexer en verfijnder. 
            </p>

            <br>

            <p>
              Van de Lineaire Bandkeramiekers zijn twee soorten aardewerk bekend. Het gaat om een versierd, dunwandig aardewerk en onversierd, dikwandig aardewerk. De vorm van het aardewerk is vrij open, in de late fase wordt er duidelijker een S-vorm zichtbaar, met een bolle bodem.
            </p>

            <br>

            <p>
              Na het drogen van de potten wordt het aardewerk in een open vuur gebakken maar onder zuurstofarme condities. Dit resulteert in een donkere, zwart-grijze kleur. Het onversierde aardewerk werd oxiderend gebakken waardoor er allerlei tinten rood en grijs voorkomen.   
            </p>
          </div>

          <div class="Swifterbantcultuur">
            <h3>Swifterbantcultuur (5100 – 3400 v. Chr.)</h3>

            <p>
              De Swifterbantcultuur is vernoemd naar de eerste vindplaats van deze cultuur: Swifterbant in Flevoland. Deze groep bewoonde seizoensmatig rivierduinen en oeverwallen van West-Nederland tot Hamburg in Duitsland. 
            </p>

            <br>

            <p>
              De dikte van de wand kan bij het Swifterbantaardewerk verschillen van dun tot dik. Wat alle potten echter gemeen hebben is de S-vorm met een naar buiten staande potrand en puntige of bolle bodem. Het aardewerk is uit smalle rollen klei opgebouwd die met een neerwaartse beweging werden gladgestreken. De klei bestaat meestal uit organisch materiaal waaronder ook verpulverd houtskool, wanneer plantmateriaal is gebruikt zoals gras laat dit een afdruk of verkoolde resten achter. Naast dit organische materiaal werd ook gebruik gemaakt van steengruis, zand, chamotte (een soort klei), kleiballetjes en vergruist kristallijn gesteente zoals kwarts. 
            </p>

            <br>

            <p>
              De decoratie op het aardewerk bestaat voornamelijk uit velden of rijen van indrukken die zijn aangebracht met de vingertop, spatels of prikkers zoals gras- of rietstengels. Deze versieringen komen vooral voor op de schouder en de rand (binnen en/of buitenkant) en soms vlakdekkend. De wand van de pot is meestal, met de hand of met een hulpmiddel, gladgestreken. De hulpmiddelen die werden gebruikt konden houten spatels, vuursteen of bundels gras zijn geweest. Deze lieten ook sporen na op het aardewerk.  In sommige gevallen is het aardewerk ook gepolijst wanneer de klei in leerharde toestand verkeerde, dit proces laat een glans achter.
            </p>

             <div>
                <img src="../../../public/assets/homepage/neolithicum/home/Hvroeg1.jpg" alt="img">
            </div>

            <p>
              Bandkeramieken pot met een hoekige spiraalversiering en een knobbeloortje (links). Bron: Rijksmuseum van Oudheden Leiden. 
            </p>

            <br>

            <div>
              <img src="../../../public/assets/homepage/neolithicum/home/Hvroeg2.jpg" alt="img">
            </div>

            <br>

            <p>
              Bandkeramieken potje met rechtlijnige boogversiering. Bron: Rijksmuseum van Oudheden Leiden. 
            </p>

            <br>

            <div>
              <img src="../../../public/assets/homepage/neolithicum/home/Hvroeg3.jpg" alt="img">
            </div>

            <p>
              Een bandkeramieken potje zonder enige versiering. Bron: Rijksmuseum voor Oudheden Leiden. 
            </p>

            <br>

            <div>
              <img src="../../../public/assets/homepage/neolithicum/home/Hvroeg4.jpg" alt="img">
            </div>

            <p>
              Een Swifterbant pot met een diameter van ca. 19 cm en decoratie aangebracht met een spatel. Bron: Rijksdienst voor Cultureel Erfgoed.
            </p>

            <br>

            <QuizInfoBox 
              :question=" 'Wat zijn de verschillen tussen het dunwandige en het dikwandige aardewerk van de LBK?' "

              :answer=" 'Hoewel de vorm voor beide typen aardewerk hetzelfde is en dezelfde ontwikkelingen doormaakt zijn er verschillen in kleur en versiering. Het dunwandige aardewerk is zwart/grijs van kleur met veel versieringen, het dikwandige aardewerk is rood of grijs van kleur met geen versieringen.'">
            </QuizInfoBox>

            <QuizInfoBox 
            :question=" 'Waaraan is te zien dat door de trechterbekercultuur op hete kolen werd gekookt? (Video)' "

            :answer=" 'Het aardewerk heeft een ronde of platte bodem, dit is een kenmerk van aardewerk dat op hete kolen werd gebruikt' ">
            </QuizInfoBox>

          </div>
          <div class="midden-neolithicum">
            <h2>Midden Neolithicum (4200 – 2850 v. Chr.)</h2>
            <p>
              Tijdens het midden neolithicum kwamen er verschillende nieuwe culturen op die zich voort ontwikkelden uit het vroege neolithicum. Waaronder het eerste bekeraardewerk wat het Late neolithicum zal domineren. Opvallend is dat de culturen die in het zuiden van Nederland voorkwamen, in tegenstelling tot de trechterbekercultuur, bijna geen decoraties aanbrachten op het aardewerk. 
            </p>

            <div class="vlaardingen-groep">
              <h3>Vlaardingen-groep (3400 - 2500 v. Chr.)</h3>
              <p>
                De Vlaardingen-groep kwam voor van 3400 tot 2500 v. Chr. en bewoonde hoge plekken langs kust en rivier zoals duinen en oeverwallen. Het is onduidelijk of de mensen van de Vlaardingen-groep permanent nederzettingen bewoonden of seizoensgebonden de huizen bewoonden. Het aardewerk was opgebouwd uit rollen klei die in sommige gevallen nog zichtbaar zijn aan het oppervlak. De decoraties zijn eenvoudig: een enkele baan perforaties onder de rand of op de wand en mogelijk in combinatie met knobbeloren. Een deel van het aardewerk bleef onversierd. 
              </p>
            </div>
            
            <br>

            <div class="michelsbergcultuur">
              <h3>Michelsbergcultuur (4200 - 3400 v. Chr.)</h3>
              <p>
                De Michelsbergcultuur was de opvolger van de Rössencultuur en het Belgische Groupe de Blicquy uit het vroege neolithicum  en kwam voor van 4200  tot 3400 v. Chr. De vindplaatsen in Nederland beperken zich tot Limburg en Noord-Brabant maar de Michelsbergcultuur was verspreid over Nederland, België, Frankrijk en Duitsland. De Michelsbergcultuur is opgedeeld in verschillende groepen op basis van regionale verschillen. 
              </p>

              <br>

              <p>
                Kenmerkend voor het Michelsberg-aardewerk is het S-vormige profiel met de wijduitstaande rand en bolle bodem. De S-vorm van het profiel kan erg nadrukkelijk zijn of juist niet. Het aardewerk is opgebouwd uit rollen klei en dikwandig. In de meeste gevallen is er bij het Michelsbergcultuur aardewerk geen sprake van decoratie, alleen bij enkele grote voorraadpotten is sprake van een patroon van vingerafdrukken langs de rand. Door het gebrek aan decoratie is het aardewerk ook erg lastig te herkennen. 
              </p>

              <br>

              <p>
                Van de Michelsbergcultuur is de tulpbeker het meest herkenbare voorbeeld. Daarnaast werden er ook voorraadpotten, kruiken en ronde schijven, deze worden geïnterpreteerd als bakplaten, geproduceerd. De bekers en potten kunnen knobbelvormige oren hebben.
              </p>
            </div>
          </div>

          <QuizInfoBox 
            :question=" 'Welke cultuur had de kenmerkende tulpbeker?' "

            :answer=" 'De Michelsbergcultuur' ">
          </QuizInfoBox>

          <QuizInfoBox 
            :question=" 'Wat valt op aan het midden neolithisch aardewerk vergeleken met het vroeg neolithische aardewerk?' "

            :answer=" 'Tussen het vroeg neolithische en midden neolithische aardewerk zijn meerdere verschillen te benoemen. Het meest prominente verschil is het, waar het vroege aardewerk veel versieringen heeft, ontbreken van versiering op het midden neolithisch aardewerk. Uitzondering hierop is de Swifterbantcultuur die in beide perioden voorkomt.' ">
          </QuizInfoBox>



          <div class="laat-neolithicum">
            <h2>Laat Neolithicum (2850-2000 v. Chr.)</h2>
            <p>
              Tijdens het laat neolithicum was er sprake van culturen die over het hele land verspreid waren en niet zoals in eerdere perioden alleen in verschillende regio’s. De mensen leefden nog steeds van zowel landbouw als jagen en verzamelen. In deze periode is er één soort aardewerk aanwezig, hoewel deze wel varianten heeft, het bekeraardewerk. 
            </p>

            <br>

            <div class="Enkelgrafcultuur">
              <h3>Enkelgrafcultuur (2850 tot 2450 v. Chr.)</h3>
              <p>
                De Enkelgrafcultuur kwam voor van 2850 tot 2450 v. Chr. en zij waren het eerste volk dat, op veen na, alle landschapstypen in Nederland bewoonde. De Enkelgrafcultuur is onderdeel van de grotere Touwbekercultuur die zich tot in Rusland verspreide. 
              </p>

              <br>

              <p>
                Het aardewerk dat in verband wordt gebracht met de Enkelgrafcultuur is gesplitst in twee typen: dunwandige bekers en grotere potten met een iets dikkere wand die ook wel golfbandbekers worden genoemd. Beide soorten aardewerk hebben een S-vorm, het bekeraardewerk is langgerekter van vorm. De decoraties tussen de twee soorten aardewerk verschilt wel. Bij de golfbandbekers was dit vrij eenvoudig, het gaat om vingerafdrukken op de hals met een onversierde buik. Het bekeraardewerk heeft verfijndere decoraties. Het oudste aardewerk heeft touwlijnen of diagonale groeven die zich boven de schouder op de hals bevinden. In de loop van de tijd begint de decoratie steeds meer oppervlak in te nemen tot er sprake is van volledig versierde potten, dit wordt de All Over Ornamented genoemd of AOO. 
              </p>

              <div class="combine-image">
                <div>
                  <img src="../../../public/assets/homepage/neolithicum/home/Hlaat1.jpg" alt="img">
                </div>
                <div>
                  <img src="../../../public/assets/homepage/neolithicum/home/Hlaat2.jpg" alt="img">
                </div>
                <div>
                  <img src="../../../public/assets/homepage/neolithicum/home/Hlaat3.jpg" alt="img">
                </div>
              </div>

                <p>
                  Drie fases van standvoetbekers. Van links naar rechts: een vroege beker met alleen versiering boven de schouder, een All Over Ornamented beker en een beker waarbij de versiering is opgedeeld in zones. Bron: Rijksmuseum van Oudheden Leiden. 
                </p>

                <br>

                <h3>Klokbekercultuur (2450 tot 2000 v. Chr.)</h3>

                <p>
                  De klokbekercultuur kwam voor van 2450 tot 2000 v. Chr. en is de opvolger van de Enkelgrafcultuur. Bij de klokbekercultuur speelde de akkerbouw en veeteelt een belangrijke rol, daarnaast kwam er nog wel visserij en jacht voor. Er waren mogelijk aparte kampementen die volledig op de visserij gericht waren. 
                </p>

                <br>

                <p>
                  Net zoals bij de Enkelgrafcultuur is hier weer sprake van twee typen aardewerk: dunwandig bekeraardewerk en halspotbekers met een iets dikkere wand. Typerend voor het bekeraardewerk en waar deze cultuur zijn naam aan dankt is de vorm van het Klokbekeraardewerk: een S-vorm met een rechte hals en een bolle buik. Als een omgedraaide klok of bel. Hoewel het oudste aardewerk nog doet denken aan het bekeraardewerk van de Enkelgrafcultuur. De decoraties bestaan uit horizontale banden afwisselend met onversierde zones. De decoratie binnen de banden bestaat uit groeven en 
                </p>

                <br>

                <p>
                  motieven van lijnen en driehoeken, deze werden aangebracht met een getande spatel. De halspotbekers waren van groot formaat, 40 - 50 cm hoog. Dit aardewerk heeft een S-vorm met een afgeronde schouder-buik overgang en een uitstaande rand. De versiering bestaat uit vinger- en nagelafdrukken maar er is ook sprake van groeflijnen. Deze versiering wijkt vaak af op de schouder. Van het bekeraardewerk wordt gedacht dat het gebruikt werd als servies en de potbekers als voedselopslag. Beiden werden gebruikt om mee te koken.
                </p>
                <div>
                  <img src="../../../public/assets/homepage/neolithicum/home/Hlaat4.jpg" alt="img">
                </div>

                <p>
                  Een klokbeker met de typerende vorm. Bron: Rijksmuseum van Oudheden Leiden.
                </p>

                <div>
                  <img src="../../../public/assets/homepage/neolithicum/home/Hlaat5.jpg" alt="img">
                </div>

                <p>
                  Halspotbeker met driehoek- en cirkelvormige nagelindrukken met daarbij groeflijnen. Bron: Rijksmuseum van Oudheden. 
                </p>
            </div>
          </div>
          <QuizInfoBox 
            :question=" 'Wat is een verschil tussen bekeraardewerk en golfbandbekers van de Enkelgrafcultuur?' "

            :answer=" 'Het eerste bekeraardewerk van de Enkelgrafcultuur had versieringen als touwlijnen en diagonale groeven. In de laatste fase waren de bekers volledig versierd, het AOO aardewerk. De golfbandbekers waren daarentegen bijna onversierd, hier bestaat de decoratie uit vingerafdrukken op de hals en een onversierde buik.' ">
          </QuizInfoBox>

           <QuizInfoBox 
            :question=" 'Welke motieven werden op het klokbekeraardewerk aangebracht?' "

            :answer=" 'De decoraties op het klokbekeraardewerk bestaan uit horizontale banden afwisselend met onversierde zones. De decoratie binnen de banden bestaat uit groeven en motieven van lijnen en driehoeken, deze werden aangebracht met een getande spatel.' ">
          </QuizInfoBox>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import QuizInfoBox from '../quiz/QuizInfoBox.vue'
export default {
  components: {
    QuizInfoBox,
  },
  data() {
    return {
      img_id: 1,
      vraag: "dit is een vraag",
    };
  },
  methods: {
    randomNum() {
      this.img_id = Math.ceil(Math.random() * 12);
    },
  },
  mounted() {
    this.randomNum();
  },
};
</script>

<style scoped>
.container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column;
}
#main-image {
  width: 100vw;
  object-fit: contain;
  align-self: center;
}

.wrapper{
  max-width: 1400px;
  margin: 0 auto;
}
.combine-image {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
h1, h2{
  background-color: rgb(72, 121, 101);
  padding: 20px;
}

h3{
  background-color: rgb(72, 121, 101);
  padding: 10px;
}
</style>

//TODO: make btn work 