<template>
 <div class="quiz_container">
    <button @click="toggleIsClicked" class="question">{{question}}</button>
    <p v-if="isClicked" id="answer">{{ answer }}</p>
 </div>
</template>

<script>
export default {
    props: ['question', 'answer'],
    data(){
        return {
            isClicked: false,
        }
    },
    methods: {
        toggleIsClicked(){
            this.isClicked = !this.isClicked;
        }
    },
    mounted(){
        console.log('working brrrrr')
    }

}
</script>

<style scoped>

button{
    font-size: 18px;
    color: white;
}

.quiz_container{
    display: flex;
    flex-flow: column;
    border-top:  2px solid rgb(0, 0, 0);
    border-right:  2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    border-left:   2px solid  rgb(0, 0, 0);
    background-color: rgb(72, 121, 101);
    margin: 1%;
}

.quiz_container button {
    height: 50px;
    background-color: rgb(67, 94, 116);
    margin: none;
}


</style>