<template>
        <!-- the nav-bar is always visible | 12/100 of screen -->
        <div v-if="showNav" class="nav">
            <!-- <img src="../public/assets/saxion.png" alt="saxion.png"> -->
            <router-link class="btn" to="/">HOME</router-link>
            <router-link class="btn" to="/archive">ARCHIEF</router-link>
            <router-link class="btn" to="/videos">MEDIA</router-link>
        </div>

<!-- views are here injected: templates that should always be visible must be placed above -->
  <router-view/> 
</template>

<script>
export default {
    data(){
        return {
            showNav: true,
        }
    },
    methods: {
        hideNav () {
            this.showNav = true;
        },
        toggleNav () {
            this.showNav = !this.showNav;
        }
    }
}
</script>

<style>
    /* Hide the scrollbar */
    body::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;
    }

  * {
        letter-spacing: 1px;
        box-sizing: border-box;
    }

    p {
        font-size: 18px;
    }
    
    body {
        font-family: monospace;
        margin: 0;
    }

    .nav {
        /* background: rgb(143, 51, 51); */
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
    }

    .nav img {
        width: 140px;
        height: 140px;
        margin: 10px;
        border-radius: 8px;
    }   

    .nav .btn {
        text-align: center;
        text-decoration: none;
        color: black;
        /* background: #ccc; */
        align-self: center;
        border: none;
        cursor: pointer;
        font-size: 24px;
        padding: 20px;
        
        /* a width of x pixels can cause overflow on smaller screen sizes */
        width: 100%; 
    }

    .nav .btn:hover {
        background: rgb(72, 121, 101);
    }

    /* On smaller screen sizes the nav bar items (including image) are shown in a column */
    @media (max-width: 600px) {
        .nav{
            align-items: center;
            flex-flow: column;
        }
    }
    /* .menu-item {
        color: #FFF;
        padding: 10px 20px;
        position: relative;
        text-align: center;
        border-bottom: 3px solid transparent;
        display: flex;
        transition: 0.4s;
    }
 
    .menu-item a {
        color: inherit;
        text-decoration: none;
    } */

</style>
